.our-equipment {
  background: linear-gradient(180deg, #000e24 0%, #04142e 100%);
}

/* HEADER */

.our-equipment__header {
  text-align: center;
  margin-bottom: 3rem;
}

.our-equipment__icon {
  display: block;
  width: 4rem;
  height: auto;
  margin: 3rem auto 1.5rem;
}

.our-equipment__title {
  font-size: 2.8rem;
  font-family: var(--font-family-additional);
  font-weight: 700;
  color: var(--text-color-primary);
}

/* GRID */

.our-equipment__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem; /* розрив між двома блоками */
}

/* IMAGES */

.our-equipment__image_1 img {
  width: 100%;
  height: 100%;
  filter: contrast(0.95) saturate(2.85);
  object-fit: cover;
  display: block;
}

.our-equipment__image_2 img {
  width: 100%;
  height: 100%;
  filter: contrast(1.45) saturate(1.15);
  object-fit: cover;
  display: block;
}

/* CONTENT */

.our-equipment__content {
  background-color: var(--rectangle-cards-background-color);
  padding: 70px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-equipment__content h3 {
  color: #ffffff;
  font-family: var(--font-family-additional);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.our-equipment__content p {
  color: var(--text-color-secondary);
  font-family: var(--font-family-base);
  font-size: 0.95rem;
  line-height: 1.6;
}

/* ADAPTIVE */

@media (max-width: 900px) {
  .our-equipment__grid {
    grid-template-columns: 1fr;
  }

  .our-equipment__content {
    padding: 2.5rem 2rem;
  }
}
