* .our-instructors-iner {
  position: relative;
  padding: 80px 30px;
  text-align: center;
  font-family: var(--font-family-base), sans-serif;
  overflow: hidden;
  padding-bottom: 100px;
}

.our-instructors__background {
  background:
  linear-gradient(to bottom,
    rgba(0, 14, 36, 0.95) 0%,
    rgba(0, 14, 36, 0.65) 35%,
    rgba(0, 14, 36, 0.25) 60%,
    rgba(0, 14, 36, 0) 80%),
   url("../assets/images/background.png") center/cover no-repeat;
  background-blend-mode: normal;
}

.our-instructors__title {
  font-size: 50px;
  display: flex;
  font-family: var(--font-family-additional);
  justify-content: center;
  align-items: center;
  height: 200px;
}

.our-instructors__main-icon {
  display: block;
  width: 4rem;
  height: auto;
   margin: 0 auto 10px;
}

.our-instructors__container__cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.our-instructors__card {
  box-sizing: border-box;
  max-width: 100%;
  padding: 40px 25px;
  background: rgba(18, 36, 58, 0.43);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 200px;
}

.our-instructors__card img {
  display: block;
  width: 120px;
  height: 120px;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 20px;
}

.our-instructors__card h3 {
  color: var(--text-hover-color);
  font-family: var(--font-family-additional);
  margin-bottom: 15px;
  font-size: 20px;
}

.our-instructors__card p {
  font-size: 14px;
  line-height: 1.6;
  font-family: var(--font-family-base);
}

/* Adaptive */
@media (min-width: 1200px) {
  .our-instructors {
  }

  .our-instructors__title {
    font-size: 50px;
    height: 200px;
  }

  .our-instructors__card {
    max-width: 328px;
  }
}


/* ДЕСКТОП (екрани > 990px) */
@media (min-width: 991px) {
  .our-instructors {
  }

  .our-instructors__title {
    font-size: 44px;
    height: 180px;
  }

  .our-instructors__card {
    flex: 1 1 328px;
  }
}