* .our-instructors {
  position: relative;
  padding: 80px 30px;
  text-align: center;
  font-family: var(--font-family-base), sans-serif;
  background: linear-gradient(to bottom, #000e24 0%, #04142e 100%);
  overflow: hidden;
}

.our-instructors::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/images/background.png") center/cover no-repeat;

  /* Маска: зверху прозоро, знизу непрозоро */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;

  opacity: 1;
  /* картинка завжди видима через маску */
  z-index: 0;
}

/* Контент поверх фонового шару */
.our-instructors>* {
  position: relative;
  z-index: 1;
}

.our-instructors__title {
  font-size: 50px;
  display: flex;
  font-family: var(--font-family-additional);
  justify-content: center;
  align-items: center;
  height: 200px;
}

.our-instructors__main-icon {
  display: block;
  width: 4 rem;
  height: auto;
  margin: 0 auto 1.5rem;
}

.our-instructors__container__cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.our-instructors__card {
  box-sizing: border-box;
  max-width: 100%;
  padding: 40px 25px;
  background: rgba(18, 36, 58, 0.43);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 200px;
}

.our-instructors__card img {
  display: block;
  width: 120px;
  height: 120px;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 20px;
}

.our-instructors__card h3 {
  color: var(--text-hover-color);
  font-family: var(--font-family-additional);
  margin-bottom: 15px;
  font-size: 20px;
}

.our-instructors__card p {
  font-size: 14px;
  line-height: 1.6;
  font-family: var(--font-family-base);
}

/* Adaptive */
@media (min-width: 1200px) {
  .our-instructors {
    padding: 80px 20px;
  }

  .our-instructors__title {
    font-size: 50px;
    height: 200px;
  }

  .our-instructors__card {
    max-width: 328px;
  }
}

/* МІНІМАЛЬНА (екрани <= 766px) */
@media (max-width: 766px) {
  .our-instructors {
    padding: 50px 15px;
  }

  .our-instructors__title {
    font-size: 28px;
    height: auto;
  }

  .our-instructors__card {
    flex: 1 1 100%;
  }
}

/* СЕРЕДНЯ (екрани > 766px і <= 990px) */
@media (min-width: 767px) and (max-width: 990px) {
  .our-instructors {
    padding: 60px 20px;
  }

  .our-instructors__title {
    font-size: 36px;
    height: auto;
  }

  .our-instructors__card {
    flex: 1 1 calc(50% - 24px);
  }
}

/* ДЕСКТОП (екрани > 990px) */
@media (min-width: 991px) {
  .our-instructors {
    padding: 70px 20px;
  }

  .our-instructors__title {
    font-size: 44px;
    height: 180px;
  }

  .our-instructors__card {
    flex: 1 1 328px;
  }
}