@import url(global.css);
@import url(components.css);

@import url(global.header.partial.css);
@import url(global.nav-menu.partial.css);
@import url(about.our-instructors.partial.css);
@import url(about.our-equipment.partial.css);
@import url(about.our-instructors.css);
@import url(global.footer.partial.css);

@import url(about.about-thai-diving.partial.css);

