* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.our-instructors {
  position: relative;
  padding: 80px 20px;
  text-align: center;
  font-family: var(--font-family-base), sans-serif;
  background: linear-gradient(to bottom, #000e24 0%, #04142e 100%);
  overflow: hidden;
}

.our-instructors::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: url("../assets/images/background.png") center/cover no-repeat;

  /* Маска: зверху прозоро, знизу непрозоро */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;

  opacity: 1; /* картинка завжди видима через маску */
  z-index: 0;
}

/* Контент поверх фонового шару */
.our-instructors > * {
  position: relative;
  z-index: 1;
}

.our-instructors__title {
  font-size: 50px;
  display: flex;
  font-family: var(--font-family-additional);
  justify-content: center;
  align-items: center;
  height: 200px;
}

.our-instructors__main-icon {
  display: block;
  width: 4rem;
  height: auto;
  margin: 3rem auto 1.5rem;
}

.our-instructors__container__cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.our-instructors__card {
  background: var(--inputs-block-background-color);
  padding: 40px 25px;
  max-width: 320px;
  border-radius: 10px;
}

.our-instructors__card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.our-instructors__card h3 {
  color: var(--text-hover-color);
  font-family: var(--font-family-additional);
  margin-bottom: 15px;
  font-size: 20px;
}

.our-instructors__card p {
  font-size: 14px;
  line-height: 1.6;
  font-family: var(--font-family-base);
}
