.about-thai-diving {
  margin: 0 auto 50px;
  padding-top: 75px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0px,
      #000e24 616px
    ),
    url("../assets/images/sections/about-thai-diving/background-image.png")
      no-repeat;
}

.about-thai-diving__header-icon {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    height: 70px;
    width: 70px;
  }
}

.about-thai-diving__title {
  font-size: 2.375rem;
  font-family: var(--font-family-additional);
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    font-size: 2.75rem;
  }
  @media screen and (min-width: 996px) {
    font-size: 3.125rem;
  }
}

.about-thai-diving__description {
  color: var(--text-color-secondary);
  line-height: 1.56;
  margin-bottom: 100px;
}

.about-thai-diving__cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-thai-diving__card {
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-thai-diving__card-title {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 1.375rem;
      font-family: var(--font-family-additional);
    }
    .about-thai-diving__card-text {
      margin-bottom: 35px;
      text-align: center;
    }
  }
}
