.our-equipment {
  background: #000e24;
  padding-bottom: 2rem;
  --ui-heading-size: 26px;
  position: relative;
  overflow: hidden;
}

/* HEADER */
.our-equipment__header {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
}

.our-equipment__icon {
  display: block;
  width: 4rem;
  height: auto;
  margin: 3rem auto 1.5rem;
  z-index: 1;
}

.our-equipment__title {
  font-size: 2.8rem;
  font-family: var(--font-family-additional);
  font-weight: 700;
  color: var(--text-color-primary);
  z-index: 1;
}

/* GRID */
.our-equipment__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  position: relative;
  z-index: 1;
}

/* IMAGES */
.our-equipment__image_1 img,
.our-equipment__image_2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease, z-index 0.3s ease;
}

.our-equipment__image_1 img {
  filter: contrast(0.95) saturate(2.85);
}

.our-equipment__image_2 img {
  filter: contrast(1.45) saturate(1.15);
}

/* CONTENT */
.our-equipment__content {
  background-color: var(--rectangle-cards-background-color);
  padding: 70px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.our-equipment__content h3 {
  color: #ffffff;
  font-family: var(--font-family-additional);
  font-size: var(--ui-heading-size);
  font-weight: 700;
  margin-bottom: 1rem;
}

.our-equipment__content p {
  color: var(--text-color-secondary);
  font-family: var(--font-family-base);
  font-size: 0.95rem;
  line-height: 1.6;
}

/* ADAPTIVE */
@media (max-width: 990px) {
  .our-equipment__grid {
    grid-template-columns: 1fr;
  }

  .our-equipment__content {
    padding: 2.5rem 2rem;
  }
}

/* ЗУМ */
/* Зум картинки з обмеженням до 80% екрану */
.img-zoomed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;   /* до 80% ширини екрану */
  max-height: 80vh;  /* до 80% висоти екрану */
  object-fit: contain; /* зберігає пропорції */
  z-index: 9999;
  transition: transform 0.3s ease, max-width 0.3s ease, max-height 0.3s ease;
  cursor: zoom-out;
}
