.our-instructors__title{
    font-size: 50px;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.our-instructors__main-icon{
     display: block;
    width: 3rem;
    height: auto;
    margin: 0 auto 1.5rem;
}
.our-instructors__container{
}
