* .our-instructors-inner {
  position: relative;
  padding: 80px 30px;
  text-align: center;
  font-family: var(--font-family-base), sans-serif;
  overflow: hidden;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.our-instructors__background {
  background:
    linear-gradient(to bottom,
      rgba(0, 14, 36, 0.95) 0%,
      rgba(0, 14, 36, 0.65) 35%,
      rgba(0, 14, 36, 0.25) 60%,
      rgba(0, 14, 36, 0) 80%),
    url("../assets/images/background.png") center/cover no-repeat;
  background-blend-mode: normal;
}

.our-instructors__title {
  font-size: 50px;
  display: flex;
  font-family: var(--font-family-additional);
  justify-content: center;
  align-items: center;
   margin-bottom: 40px;
}

.our-instructors__main-icon {
  display: block;
  width: 4rem;
  height: auto;
  margin: 0 auto 6px;
}

.our-instructors__container__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 50px;
  width: 100%;
  box-sizing: border-box;
}

.our-instructors__card {
  box-sizing: border-box;
  width: calc((100% - 2 * 30px) / 3);
  padding: 50px 40px;
  background: rgba(18, 36, 58, 0.43);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 200px;
  min-height: 420px;
}

.our-instructors__card img {
  display: block;
  width: 100px;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 20px;
}

.our-instructors__card h3 {
  color: var(--text-hover-color);
  font-family: var(--font-family-additional);
  margin-bottom: 15px;
  font-size: 20px;
}

.our-instructors__card p {
  font-size: 14px;
  line-height: 1.6;
  font-family: var(--font-family-base);
}

/* Adaptive */
@media (min-width: 1200px) {
  .our-instructors-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .our-instructors__title {
    font-size: 50px;
    height: 200px;
  }
}

/*.our-instructors__card {
  max-width: 328px;
}
*/

/* МІНІМАЛЬНА (екрани <= 766px) */
@media (max-width: 766px) {
  .our-instructors-inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .our-instructors__title {
    font-size: 28px;
    height: auto;
  }

  .our-instructors__card {
    flex: 0 0 calc((100% - 30px) / 2);
    max-width: calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);
  }

  .our-instructors__card:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 calc((100% - 30px) / 2);
    max-width: calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);
  }
}

/* СЕРЕДНЯ (екрани > 766px і <= 990px) */
@media (min-width: 767px) and (max-width: 990px) {
  .our-instructors {
    padding: auto60px 20px;
  }

  .our-instructors__title {
    font-size: 36px;
    height: auto;
  }

  .our-instructors__card {
    flex: 0 0 calc((100% - 30px) / 2);
    max-width: calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);
  }

    /* якщо 3-я картка переходить на другий ряд — центр її */
  .our-instructors__card:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 calc((100% - 30px) / 2);
    max-width: calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);
  }
}

/* ДЕСКТОП (екрани > 990px) */
@media (min-width: 991px) {
  .our-instructors-inner {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .our-instructors__title {
    font-size: 44px;
    height: 180px;
  }

  /* .our-instructors__card {
    flex: 1 1 328px;
  } */
}

/* ================= Overlay ================= */
.our-instructors__card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.our-instructors__card.is-active {
  position: relative;
  transform: scale(1.08);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
  z-index: 10;
}