.container {
  max-width: 1200px;
  margin: auto;
  align-content: center;
}

/* МІНІМАЛЬНА (екрани <= 766px) */
@media (max-width: 766px) {
  .container {
    padding: 0 1.5rem !important; 
  }
}

/* СЕРЕДНЯ (екрани > 766px і <= 990px) */
@media (min-width: 767px) and (max-width: 990px) {
  .container {
    padding: 0 2rem !important;
  }
}

/* ДЕСКТОП (екрани > 990px) */
@media (min-width: 991px) {
  .container{
    padding: 0 2.5rem !important;    
  }
}


/*  <!-- BUTTON-PRIMARY template HTML (use it in your partial): -->
    <!--  -You have to change:  #button-href
          -You have to change:  BUTTON CAPTION
          +Add extra classes to change size    -->
  <div class="button__btn-group">
    <a class="button__button-primary" href="#button-href">
      <span class="button__border"></span>
      <span class="button__inner">
        <span class="button__content">BUTTON CAPTION</span>
      </span>
    </a>
  </div>
*/

/* BUTTON-PRIMARY template CSS (you should NOT copy these styles to your styles partial) */

.button__button-primary {
  box-sizing: border-box;
  margin: 6.48px 10px;
  padding: 12px 24px;
  border-radius: 21px;
  background-color: var(--button-primary-background-color);
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--button-primary-text-color);
  font-size: 0.6875rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in;
  border: none;
  cursor: pointer;
}

.button__button-primary:hover {
  background-color: var(--button-primary-background-hover-color);
}

.button__border {
  box-sizing: border-box;
  border-radius: 21px;
  border-width: 0.8px;
  border-style: solid;
  border-color: var(--color-border-transparent);
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.button__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__content {
  color: var(--text-color-primary);
  padding: 0;
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.2375rem;
}

/* /BUTTON-PRIMARY template CSS */