.global__header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 42px;
  line-height: 1rem
}

.phone__wrapper {
  display: block;
  align-items: center;
}

.phone__text-block {
  margin-bottom: 0;
}

.phone__link-button {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--text-color-primary);
  letter-spacing: normal;
}

.social-icons__list {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: center;
  margin: 0;
}

.svgIcon {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  fill: var(--text-hover-color);
  transition: fill 0.3s ease;
}

/* МОБІЛЬНА ВЕРСІЯ (max-width: 990px) */
@media (max-width: 990px) {
  .global__header {
    display: none;
  }

  .global__header-inner {
    padding: 5px 30px;
  }


}

/* ДЕСКТОПНА ВЕРСІЯ (min-width: 991px) */
@media (min-width: 991px) {
  .global__header {
    display: block;
  }

  .global__header-inner {
    padding: 5px 40px;
  }
}