.global__nav-menu {
  margin: 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-primary);
}

.global__nav-menu-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.menu__main-link {
  display: block;
}

.menu__main-link .logo-image {
  width: 187px;
  min-width: 187px;
  height: auto;
}

.menu__main-link .logo-image:hover {
  width: 187px;
  min-width: 187px;
  height: auto;
  opacity: 0.75;
}

.menu__buttons-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.menu__spaicing {
  margin: 0 -10px;
}

.menu__spaicing-inner {
  margin: 0 10px;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item {
  margin: 5px 7.5px;
}

.menu__link {
  text-decoration: none;
  font-size: 0.875rem;
  display: block;
  padding: 0;
  margin: 0;
  color: var(--text-color-primary);
  text-shadow: 3px 4px 3px rgba(0,0,0,1);
}

.menu__link:hover {
  text-decoration: none;
  font-size: 0.875rem;
  display: block;
  padding: 0;
  margin: 0;
  color: var(--text-hover-color);
}

.menu__buttons-block {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.button__margin-x-off {
  margin-right: 0;
}

/* БУРГЕР-МЕНЮ */
.burger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 0;
  position: relative;
  width: 24px;
  height: 40px;
  margin-left: auto;
  margin-right: 0;
}

.burger-menu:hover {
  opacity: 0.75;
}

.burger-menu__line {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--text-color-primary);
  transition: var(--transition-speed);
  position: absolute;
  left: 0;
  transform-origin: center;

  /* width: 65%;
  padding-left: 14px; */
  margin: 3px 0;
}

.burger-menu__line:nth-child(1) {
  transform: translateY(-8px);
}

.burger-menu__line:nth-child(2) {
  transform: translateY(0);
}

.burger-menu__line:nth-child(3) {
  transform: translateY(8px);
}

/* МІНІМАЛЬНА (екрани <= 766px) */
@media (max-width: 766px) {
  .global__nav-menu {
    padding-top:  20px;
    /* padding-left: 24px;
    padding-right: 24px; */
  }

  .burger-menu {
    display: block;
    z-index: 101;
  }

  /* header__burger */
  .burger-menu {
    display: block;
    z-index: 101;
  }

  /* header__nav */
  .menu__buttons-block {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--color-background);
    overflow: hidden;
    transition: height var(--transition-speed);
    display: block;
  }

  /* header__menu */
  .menu__list {
    flex-direction: column;
    padding: var(--spacing-md);
    gap: var(--spacing-sm);
    opacity: 0;
    transition: opacity var(--transition-speed);
  }

  /* header__menu-item */
  .menu__item {
    width: 100%;
    text-align: center;
  }
  /* menu__item-wrapper   header__menu-link */
  .menu__link {
    display: block;
    padding: var(--spacing-sm) 0;
  }

  /* Mobile menu open state */
  /*  header__nav.is-open */
  .menu__buttons-block.is-open {
    height: calc(100vh - var(--header-height));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* header__nav.is-open .header__menu*/
  .menu__buttons-block.is-open .menu__list {
    opacity: 1;
  }

  /* Burger animation */
  .burger-menu.active .burger-menu__line:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .burger-menu.active .burger-menu__line:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active .burger-menu__line:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

}

/* СЕРЕДНЯ (екрани > 766px і <= 990px) */
@media (min-width: 767px) and (max-width: 990px) {
  .global__nav-menu {
    padding-top: calc(42px + 20px); /* 42px - global header thickness (for global header position: fixed)*/
    /* padding-left: 32px;
    padding-right: 32px; */
  }
  
  .menu__buttons-block {
    position: static !important;
    max-height: none !important;
    flex-direction: row;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
  }

  .menu__spaising,
  .menu__list,
  .button__btn-group-media {
    display: flex !important;
  }
}

/* ДЕСКТОП (екрани > 990px) */
@media (min-width: 991px) {
  .global__nav-menu {
    padding-top: calc(42px + 20px); /* 42px - global header thickness (for global header position: fixed)*/
    /* padding-left: 40px;
    padding-right: 40px; */
  }

  .burger-menu {
    display: none;
  }

  .menu__buttons-block {
    position: static !important;
    max-height: none !important;
    flex-direction: row;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
  }

  .menu__spaising,
  .menu__list,
  .button__btn-group-media {
    display: flex !important;
  }
}