.global__header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1000;
}

.global__header-background {
  background-color: var(--color-background-primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.global__header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 42px;
  line-height: 1rem
}

.phone__wrapper {
  display: block;
  align-items: center;
}

.phone__text-block {
  margin-bottom: 0;
}

.phone__link-button {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--text-color-primary);
  letter-spacing: normal;
}

.social-icons__list {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: center;
  margin: 0;
}

.svgIcon {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  fill: var(--text-hover-color);
  transition: fill 0.3s ease;
}


/* МІНІМАЛЬНА (екрани <= 766px) */
@media (max-width: 766px) {
  .global__header {
    display: none;
  }
}

/* СЕРЕДНЯ (екрани > 766px і <= 990px) */
@media (min-width: 767px) and (max-width: 990px) {
  .global__header-inner {
    padding: 5px 2rem;
  }
}

/* ДЕСКТОПНА ВЕРСІЯ (min-width: 991px) */
@media (min-width: 991px) {
  .global__header {
    display: block;
  }

  .global__header-inner {
    padding: 5px 2.5rem;
  }
}