.contacts-map {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
    position: relative;
    overflow: visible;
    min-height: 30rem;
}

.contacts-map::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: -5rem;
    width: 100vw;
    background-image: url("../assets/images/sections/contact_forms/wave_background.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    pointer-events: none;
    z-index: 0;
}

.contacts-map__wrapper {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 1.375rem;
    position: relative;
    z-index: 1; /* keep content above the background pseudo-element */
}

.contacts-map__wrapper iframe {
    width: 100% !important;
    height: 28rem;
    border: 0;
    display: block;
}

.contacts-map__wrapper iframe {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.contacts-map__wrapper iframe:focus {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}