.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 4.5rem 1.25rem;
    gap: 3rem;
}

.contacts__image {
    width: 4.2rem;
}

.contacts__title {
    font-size: 3rem;
    font-weight: 700;
    margin: 1.25rem 0;
}

.contacts__text {
    color: var(--text-color-secondary);
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.contacts__info {
  display: grid;
  grid-template-columns: 10rem 1fr;
  margin-bottom: 2rem;
  align-items: center;
}

.contacts__info-title {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  color: var(--text-color-secondary);
}

.contacts__info-desc {
  font-size: 1.1rem;
  line-height: 1.5;
}

.contacts__phone,
.contacts__email {
  color: var(--text-color-primary);
  text-decoration: none;
  transition: color 0.3s;
}

.contacts__phone:hover,
.contacts__email:hover {
  color: var(--button-primary-background-color);
}

.contacts__form {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 4.5rem;
  background-color: var(--contacts-inputs-block-background-color);
}

.contacts__form-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.55rem;
}

.contacts__label {
  width: 100%;
}

.contacts__input {
  width: 100%;
  padding: 1.3rem 1.5rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--contacts-inputs-block-background-color);
  font-size: 1.1rem;
  outline: none;
  transition: background 0.3s, box-shadow 0.3s;
}

.contacts__input::placeholder {
  color: var(--text-color-secondary);
}

.contacts__input:focus {
  border: 0.1rem solid var(--text-color-secondary);
}

/* Якщо використаєш кнопку з глобальних компонентів, то цей клас можна видалити */
/* .contacts__btn {
  margin-top: 1.25rem;
  padding: 1.1rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--button-primary-background-color);
  color: var(--text-color-primary);
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
} */

.contacts__btn:hover {
  background-color: var(--text-color-secondary);
}
