@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
  /* color: var(--text-color-primary); */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

:root {
  scroll-behavior: smooth;
  --font-family-base: 'Chivo', sans-serif;
  --font-family-additinal: 'Dosis', sans-serif;
  --text-color-primary: rgb(255, 255, 255);
  --text-color-secondary: rgb(72, 134, 174);
  --text-hover-color: rgb(231, 185, 0);
  --color-background-primary: rgb(0, 14, 36);
  --color-background-transparent: rgba(0, 0, 0, 0);
  --color-border-transparent: rgba(0, 0, 0, 0);
  --button-primary-background-color: rgb(255, 91, 0);
  --button-primary-text-color: var(--text-color-primary);
  --button-primary-background-hover-color: var(--text-color-secondary);
  --button-secondary-background-color: var(--color-background-transparent);
  --button-secondary-border-color: var(--text-color-secondary); 
  --button-secondary-text-color: var(--text-color-primary);
  --button-secondary-background-hover-color: var(--button-primary-background-color);
  --button-secondary-border-hover-color: var(--button-primary-background-color);
  --input-background-color: rgba(64, 122, 160, 0.4);
  --inputs-block-background-color: rgba(18, 36, 58, 0.43);
  --round-icons-background-color: rgba(72, 134, 174, 0.4);
  --rectangle-cards-background-color: rgba(18, 36, 58, 0.8);
  --transition-speed: 0.3s;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--text-color-primary);
  background: var(--color-background-primary);
}

body.no-scroll {
  overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
