@import url(global.css);
@import url(components.css);

@import url(global.header.partial.css);
@import url(global.nav-menu.partial.css);
@import url(global.footer.partial.css);

@import url(index.hero.partial.css);
@import url(index.why-choose-us.partial.css);
@import url(index.destinations.partial.css);
@import url(index.diving-packages.partial.css);
@import url(global.contacts_form.partial.css);
@import url(global.contacts_map.partial.css);

/* font Chivo sans-serif import */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;600;700&display=swap');
