.explore-phuket {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.logo {
    width: 60px;
    margin-bottom: 20px;
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
    font-family: var(--font-family-additional);
    color: var(--color-text-light);
}

.content {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.text {
    flex: 0 0 50%;
    text-align: left;
    color: var(--text-color-secondary);
}

    .text p {
        margin: 0 0 24px;
        line-height: 1.7;
        font-size: 1rem;
    }

        .text p:last-child {
            margin-bottom: 0;
        }

.image-wrapper {
    flex: 1 1 auto;
    min-width: 0;
}

    .image-wrapper img {
        width: 100%;
        height: auto;
        display: block;
    }

@media (min-width: 767px) and (max-width: 990px) {
    .content {
        gap: 40px;
    }

    .text {
       
    }

    .image-wrapper {
        flex: 1 1 auto;
        min-width: 0;
    }

        .image-wrapper img {
            width: 100%;
            height: auto;
        }
}

@media (max-width: 766px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .text,
    .image-wrapper {
        flex: none;
        max-width: 100%;
    }

        .image-wrapper img {
            width: 100%;
            height: 100%;
        }
}
