@import url(global.css);
@import url(components.css);

@import url(global.header.partial.css);
@import url(global.nav-menu.partial.css);
@import url(global.footer.partial.css);
@import url(index.hero.partial.css);
@import url(index.why-choose-us.partial.css);
@import url(index.destinations.partial.css);
@import url(index.diving-packages.partial.css);
@import url(index.courses.partial.css);
@import url(global.contacts_form.partial.css);
@import url(index.contacts_map.partial.css);
@import url(index.gallery.partial.css);
@import url(index.want-to-see-the-phuket-undersea.partial.css);
@import url(index.explore-phuket.partial.css);