.gallery {
  padding: 100px 0;
  text-align: center;

  .gallery__icon {
    display: flex;
    justify-content: center;
  }

  .gallery__title {
    font-family: var(--font-family-base);
    color: var(--text-color-primary);
    margin-bottom: 12px;
  }

  .gallery__subtitle {
    font-family: var(--font-family-additional);
    color: var(--text-color-secondary);
    font-size: 20px;
    margin-bottom: 20px;
  }
  .gallery__image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    background: var(--rectangle-cards-background-color);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .gallery__image:hover {
    transform: translateY(-6px);
    box-shadow: 0 16px 40px var(--rectangle-cards-background-color);
  }
}

#galleryCarousel {
  max-width: 900px;
  margin: 0 auto;

  .carousel-inner {
    overflow: visible;
  }
}

/* Desktop */
@media (min-width: 992px) {
  #galleryCarousel {
    max-width: 100%;
  }
}
