.main__hero{
  min-width: 320px;
  background-image: url('../assets/images/sections/hero/main-page__hero-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

/* .main__hero-background {

} */

.button__button-bigger {
  padding: 18px 34px;
  border-radius: 28px;
}

.button__font-size-bigger {
  font-size: 0.75625rem;
}

.button__hero-centered {
  display: flex;
  justify-content: center;
}

.main__hero-item-inner {
  box-sizing: border-box;
  display: grid;
  max-width: 100%;
  min-width: none;
  text-align: center;
}

.main__hero-title {
  box-sizing: border-box;
  display: inline;
  font-family: var(--font-family-additinal);
  font-weight: 700;
  font-size: 6.9375rem;
  letter-spacing:-2.22px;
  color: var(--text-color-primary);
  vertical-align: baseline;
}

.main__hero-subtitle {
  box-sizing: border-box;
  display: inline;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--text-color-primary);
  vertical-align: baseline;
}

/* МІНІМАЛЬНА (екрани <= 766px) */
@media (max-width: 766px) {
  .main__hero-inner{
    padding: 130px 0 100px 0;
  }

  .main__hero-section-inner {
    padding: 0 1.5rem;
  }

  /* .main__hero-title {
    font-size: 3.75rem;
  } */

  .main__hero-subtitle {
    margin: 35px 0 0 0;
  }
  
  .button__hero-margin-top-media {
    margin-top: 50px;
  }
}

/* СЕРЕДНЯ (екрани > 766px і <= 990px) */
@media (min-width: 767px) and (max-width: 990px) {
  .main__hero-inner{
    padding: 190px 0 137.5px 0;
  }

  .main__hero-section-inner {
    padding: 0 2rem;
  }

  /* .main__hero-title {
    font-size: 4.6875rem;
  } */

  .main__hero-subtitle {
    margin: 35px 0 0 0;
  }
  
  .button__hero-margin-top-media {
    margin-top: 50px;
  }
}

/* ДЕСКТОП (екрани > 990px) */
@media (min-width: 991px) {
  .main__hero-inner{
    padding: 250px 0 175px 0;
  }

  .main__hero-section-inner {
    padding: 0 2.5rem;
  }

  /* .main__hero-title {
    font-size: 5.625rem;
  } */

  .main__hero-subtitle {
    margin: 40px 0 0 0;
  }

  .button__hero-margin-top-media {
    margin-top: 55px;
  }
}