.destinations {
  background-image: url('../assets/images/sections/destinations/destinations__background.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

.destinations__header {
  text-align: center;
}

.destinations__header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.destinations__header .destinations__title {
  color: var(--text-color-primary);
  font-family: var(--font-family-base);
}

.destinations__main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 1115px;
}

.destinations__subtitle{
  color: var(--text-color-primary);
  margin-bottom: 20px;
}

.destinations__item--racha-yai {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.destinations__item--anemone-reef {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 25px;
}

.destinations__item--king-cruiser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.destinations__img {
  width: 1000px;
  height: 350px;
  overflow: hidden;
}

.destinations__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destinations__content {
  width: 910px;
  color: #afc3d3;
  background-color: var(--rectangle-cards-background-color);
  border: 2px solid;
  border-color: var(--rectangle-cards-background-color);
  padding-top: 80px;
  padding-left: 60px;
  padding-right: 50px;
}


.destinations__link {
  margin-top: 45px;
}

.destinations__link--read-more {
  font-size: 11px;
  font-weight: 600;
  color: var(--button-primary-background-color);
  text-decoration: none;
  transition: color 0.4s ease, letter-spacing 0.4s ease;
}

.destinations__actions {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 25px;
}

.destinations__actions {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.destinations__link--packages {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 14px 32px;
  font-family: var(--font-family-base);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;

  color: var(--text-color-primary);
  background-color: transparent;

  border: 1px solid var(--text-color-secondary);
  border-radius: 999px;

  text-decoration: none;
  transition: all 0.3s ease;
}

.destinations__link--read-more:hover{
    color: var(--text-color-primary);
    text-decoration: underline;
}

.destinations__link--packages:hover{
    background-color: var(--button-primary-background-color);
    border-color: var(--button-primary-background-color);
}