.caves {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.caves__image {
  aspect-ratio: 3;
  margin-bottom: 45px;
  object-fit: cover;
  object-position: bottom;
}

.caves__header-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.caves__header-title {
  margin-bottom: 50px;
  font-family: "Dosis", serif;
  font-size: 2.375rem;
  @media screen and (min-width: 768px) {
    font-size: 3.15rem;
  }
}

.caves__content {
  color: var(--text-color-secondary);
  line-height: 1.56;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    .caves__content {
      justify-content: space-between;
    }
    .caves__content-text {
      flex: 2;
    }
    .caves__list {
      flex: 1;
    }
  }
}

.caves__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.caves__list li {
  position: relative;
  padding-left: 28px;
  font-size: 1rem;
  line-height: 1.5;
}

.caves__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  background-image: url("../assets/ui/icons/check-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
