.contacts {
  display: flex;
  justify-content: center;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  margin-top: 3rem;
  position: relative;
  margin-bottom: 7rem;
}

.contacts::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: -3rem;
  width: 100vw;
  background-image: url("../assets/images/sections/contact_forms/wave_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  z-index: 0;
}

.contacts__form {
  width: 100%;
  max-width: 32rem;
  background-color: var(--inputs-block-background-color);
  color: var(--text-color-primary);
  text-align: center;
  font-family: var(--font-family-additional);
  position: relative;
  z-index: 1;
}

.contacts__icon {
  display: block;
  width: 3rem;
  height: auto;
  margin: 3rem auto 1.5rem;
}

.contacts__title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color-primary);
  margin-bottom: 1rem;
}

.contacts__text {
  font-size: 1rem;
  color: var(--text-color-primary);
  margin-bottom: 2rem;
}

.contacts__body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contacts__label {
  width: 100%;
}

.contacts__input {
  width: 100%;
  padding: 1.1rem 1.5rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--inputs-block-background-color);
  color: var(--text-color-primary);
  font-size: 1rem;
  outline: none;
  transition: background 0.3s, box-shadow 0.3s, filter 0.15s;
}

.contacts__input::placeholder {
  color: var(--text-color-secondary);
}

.contacts__input:focus {
  border: 0.1rem solid var(--text-color-secondary);
}

.contacts__input:hover {
  filter: brightness(0.7);
}

.contacts__select {
  width: 100%;
  padding: 1.1rem 3rem 1.1rem 1.5rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--inputs-block-background-color);
  color: var(--text-color-secondary);
  font-size: 1rem;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s, filter 0.15s;
  margin-bottom: 2rem;
}

.contacts__select:hover {
  filter: brightness(0.7);
}

.contacts__form-body {
  margin-bottom: 3rem;
}

.contacts__form-btn {
  width: 100%;
}
