.divemaster-course {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.divemaster-course__logo-icon {
    margin-top: 48px;
    width: 60px;
}

.divemaster-course__title {
    color: var(--text-color-primary);
    margin: 1em auto;
    text-align: center;
    font-size: 3em;
    font-family: var(--font-family-base);

}

.divemaster-course__container {
    display: flex;

}
.divemaster-course__description {
    display: flex;
    flex-direction: column;
    color: var(--text-color-secondary);
    max-width: 800px;
    width: auto;
    /* height: 100%; */
}
.divemaster-course__description-text {
    display: flex;
    width: auto;
    max-width: 750px;
}
.divemaster-course__features {
    
    display: flex;
    flex-direction: column;
    /* width: 30%; */

}
.divemaster-course__feature {
    display: flex;
    width: 100%;
}

.divemaster-course__feature-text {
    text-align: left;
    margin-bottom: 1em;
    vertical-align: baseline;
}

.divemaster-course__block {
    width: 28%;
    margin-top: 1em;
    margin-right: 1em;
    display: inline-block;
}

/* .divemaster-course__block-icon-decorator {
    margin: auto;
    width: 100px;
    height: 100px;
    padding: 0;
} */
.divemaster-course__block-icon-background {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.divemaster-course__block-icon {
    margin: auto;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgba(72, 134, 174, 0.4);
}

.divemaster-course__block-icon img {
    width: 50px;
    height: 50px;

}


.divemaster-course__block-text {
    padding-top: 10px;
    text-align: center;
}





p, span {
    color: var(--text-color-secondary);
    
    font-family: var(--font-family-base);
}
    
    /* text-align: right; */