@import url(global.css);
@import url(components.css);

@import url(global.header.partial.css);
@import url(global.nav-menu.partial.css);
@import url(global.footer.partial.css);

@import url(school.certificates-nav.partial.css);
@import url(school.contacts_form.partial.css);
@import url(school.advanced-open-water-diver.partial.css);
@import url(school.open-water-course.partial.css);