.divemaster-course {
   max-width: 1120px;
}

.divemaster-course__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divemaster-course__logo img {
    margin: 0 auto;
    width: 60px;
    height: 60px;
}

.divemaster-course__title {
    display: flex;
    color: var(--text-color-primary);
    margin: 1em auto;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: var(--font-family-base);
}


.divemaster-course__description-and-features {
    color: var(--text-color-secondary);
    /* justify-content: center; */
    display: grid;
    gap: 30px;
    margin-bottom: 1.5em;
    @media (max-width: 766px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 767px) {
        grid-template-columns: 70% 30%;
    }
    /* height: 100%; */
}

/* .divemaster-course__feature svg {
    display: flex;
    flex-direction: column;
    margin: auto;
} */


/* .divemaster-course__description-text {
    display: flex;
    width: auto;
}
    */
.divemaster-course__features {
    
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(2, 1fr);
}


/* .divemaster-course__feature {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1em;
} */
.divemaster-course__blocks {
    display: grid;
    gap: 5px;
    place-items: center;
    width: 90%;
    /* max-width: 1120px; */
    @media (max-width: 766px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 767px) and (max-width: 990px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 991px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.divemaster-course__block-icon-background {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.divemaster-course__block-icon {
    margin: auto;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgba(72, 134, 174, 0.4);
}

.divemaster-course__block-icon img {
    width: 50px;
    height: 50px;

}


.divemaster-course__block-text {
    padding-top: 0.5em;
    text-align: center;
}





p, span {
    color: var(--text-color-secondary);
    
    font-family: var(--font-family-base);
}