<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="icon" href="assets/images/favicon.png" type="image/png" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <body>
    <main class="main">
      <!-- 12__About ThaiDiving ( Savchuk Nazar) -->
      <section
        class="about-thai-diving"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/about.about-thai-diving.partial.html"
      ></section>
      <!-- /12__About ThaiDiving ( Savchuk Nazar)-->


      <!-- 13 Our Equipment (Hnatyshyn Volodymyr) -->
      <section
        class="our-equipment"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/about.our-equipment.partial.html"
      ></section>
      <!-- /13 Our Equipment (Hnatyshyn Volodymyr)-->


      <!-- 14__Our Instructors (Palamariuk Mariia) -->
      <section
        class="about.our-instructors"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/about.our-instructors.partial.html"
      ></section>
      <!-- /14__Our Instructors ()-->
    </main>

    <!-- 01__footer (Yavorskyi Taras) -->
    <footer
      class="global__footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="components/global.footer.partial.html"
    ></footer>
    <!-- /01__footer (Yavorskyi Taras) -->

    <script type="module" src="scripts/about.js"></script>

  </body>
</html>
