<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="icon" href="assets/images/favicon.png" type="image/png" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- 01__header (Yavorskyi Taras) -->
    <header
      class="global__header"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="components/global.header.partial.html"
    ></header>
    <!-- /01__header (Yavorskyi Taras)-->

    <main class="main">
      <!-- 01__menu (Yavorskyi Taras) -->
      <nav
        class="global__nav-menu"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/global.nav-menu.partial.html"
      ></nav>
      <!-- /01__menu (Yavorskyi Taras) -->

      <!-- 12__About ThaiDiving (Nazar Savchuk) -->
      <section
        class="about-thai-diving"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/about.about-thai-diving.html"
      ></section>
      <!-- /12__About ThaiDiving (Nazar Savchuk)-->

      <!-- 12__1 Our Equipment (Nazar Savchuk) -->
      <section
        class="our-equipment"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/about.our-equipment.html"
      ></section>
      <!-- /12__1 Our Equipment (Nazar Savchuk)-->

      <!-- 13__Our Instructors (Palamariuk Mariia) -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /13__Our Instructors (Palamariuk Mariia)-->

      <!-- 14__Our Instructors () -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /14__Our Instructors ()-->
    </main>

    <!-- 01__footer (Yavorskyi Taras) -->
    <footer
      class="global__footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="components/global.footer.partial.html"
    ></footer>
    <!-- /01__footer (Yavorskyi Taras) -->
  </body>
</html>
