<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>

    <nav>
      <a href="index.html">
        <img width="187" height="auto" alt="logo"
          loading="lazy" src="assets/images/main-page-logo.webp">
      </a>
      <a href="pages/about.html">About Us</a>
      <a href="pages/packages.html">Packages</a>
      <a href="pages/school.html">Diving School</a>
      <a href="pages/contacts.html">Contacts</a>

    </nav>

    <main id="app" class="main">
      <!-- 01__header+hero+footer () -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /01__header+hero+footer ()-->


      <!-- 02__Unveil the Marvellous Undersea () -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /02__Unveil the Marvellous Undersea ()-->


      <!-- 03__Explore Phuket () -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /03__Explore Phuket ()-->


      <!-- 04__Why Choose Us (Savchuk Nazar) -->
      <section
        class="why-choose-us"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/index.why-choose-us.partial.html"
      ></section>
      <!-- /04__Why Choose Us (Savchuk Nazar) -->


      <!-- 05__Diving Packages (Oslaiev Mykyta) -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /05__Diving Packages (Oslaiev Mykyta)-->


      <!-- 06__Destinations (Matvii Nalyvaiko) -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /06__Destinations (Matvii Nalyvaiko)-->


      <!-- 07__Want to See the Phuket Undersea (Sverydova Anna) -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /07__Want to See the Phuket Undersea (Sverydova Anna)-->


      <!-- 08__Awards (Zarvanskyi Yaroslav) -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /08__Awards (Zarvanskyi Yaroslav)-->


      <!-- 09__Courses (Saranchyn Serhiy) -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /09__Courses (Saranchyn Serhiy)-->


      <!-- 10__Gallery (Pokotylenko Antonina) -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /10__Gallery (Pokotylenko Antonina)-->
       

      <!-- 11__Contacts (Mushchynka Vasyl) -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /11__Contacts (Mushchynka Vasyl)-->
    </main>

    <footer class="footer"></footer>
  </body>
</html>

<!--
Matvii Nalyvaiko
Mushchynka Vasyl
Palamariuk Mariia
Pechak Oleksandr
Petryshyn Roman
Pokotylenko Antonina
Rudyk Vladyslav
Saranchyn Serhiy
Sultanova Oleksandra
Sverydova Anna
Yavorskyi Taras
Zarvanskyi Yaroslav
Zhuk Artem
Oslaiev Mykyta
Savchuk Nazar
Tsap Illia
Hnatyshyn Volodymyr
-->
