<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diving Club</title>
    <link rel="icon" href="assets/images/favicon.png" type="image/png" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- 01__header+hero+footer (Yavorskyi Taras) -->
    <header
      class="global__header"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="components/global.header.partial.html">
    </header>
    <!-- /01__header+hero+footer (Yavorskyi Taras)-->


    <main class="main">
      <!-- 01__menu+hero (Yavorskyi Taras) -->
      <nav
        class="global__nav-menu"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/global.nav-menu.partial.html">
      </nav>

      <section
        class="main__hero"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/index.hero.partial.html">
      </section>
      <!-- /01__menu+hero (Yavorskyi Taras) -->


      <!-- 02__Unveil the Marvellous Undersea (Yavorskyi Taras) -->
      <section
        class="marvellous-undersea"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/index.marvellous-undersea.partial.html">
      </section>
      <!-- /02__Unveil the Marvellous Undersea (Yavorskyi Taras)-->


      <!-- 03__Explore Phuket (Zhuk Artem) -->
      <!-- TODO: ваш блок має бути тут -->
      
      <!-- /03__Explore Phuket (Zhuk Artem)-->


      <!-- 04__Why Choose Us (Savchuk Nazar) -->
      <section
        class="why-choose-us"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/index.why-choose-us.partial.html"
      ></section>
      <!-- /04__Why Choose Us (Savchuk Nazar) -->


      <!-- 05__Diving Packages (Oslaiev Mykyta) -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /05__Diving Packages (Oslaiev Mykyta)-->


      <!-- 06__Destinations (Matvii Nalyvaiko) -->
      <section
        class="destinations"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/home.destinations.partial.html"
      ></section>

      <!-- /06__Destinations (Matvii Nalyvaiko)-->


      <!-- 07__Want to See the Phuket Undersea (Sverydova Anna) -->
      <section
        class="want-to-see-the-phuket-undersea"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/index.want-to-see-the-phuket-undersea.partial.html"
      ></section>

      <!-- /07__Want to See the Phuket Undersea (Sverydova Anna)-->


      <!-- 08__Awards (Zarvanskyi Yaroslav) -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /08__Awards (Zarvanskyi Yaroslav)-->


      <!-- 09__Courses (Saranchyn Serhiy) -->
       <section
        class="courses"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/index.courses.partial.html"
      ></section>
      <!-- TODO: ваш блок має бути тут -->

      <!-- /09__Courses (Saranchyn Serhiy)-->


      <!-- 10__Gallery (Pokotylenko Antonina) -->
        <section
        class="gallery"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="components/index.gallery.partial.html"
      ></section>

      <!-- /10__Gallery (Pokotylenko Antonina)-->
       

      <!-- 11__Contacts (Mushchynka Vasyl) -->
      <!-- TODO: ваш блок має бути тут -->

      <!-- /11__Contacts (Mushchynka Vasyl)-->
    </main>


    <!-- 01__footer (Yavorskyi Taras) -->
    <footer
      class="global__footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="components/global.footer.partial.html">
    </footer>
    <!-- /01__footer (Yavorskyi Taras) -->
  </body>
</html>