<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Diving School</title>
        <link rel="icon" href="assets/images/favicon.png" type="image/png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> <!--for the sake of ticking the boxes in Telegram-->
        <script
            src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <!-- 01__header (Yavorskyi Taras) -->
        <header
            class="global__header"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="components/global.header.partial.html">
        </header>
        <!-- /01__header (Yavorskyi Taras)-->


        <main class="main">
            <!-- 01__menu (Yavorskyi Taras) -->
            <nav
                class="global__nav-menu"
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="components/global.nav-menu.partial.html">
            </nav>
            <!-- /01__menu (Yavorskyi Taras) -->


            <!-- 20__Certificates (Dobriuk Oleksandr) -->
            <!-- TODO: ваш блок має бути тут -->
            <section
                 class="certificates-list"
                 data-hx-trigger="load"
                 data-hx-swap="outerHTML"
                 data-hx-get="components\school.certificates-nav.partial.html"
            ></section>
            <!-- /20__Certificates (Dobriuk Oleksandr)-->


            <!-- 21__PADI Open Water Course () -->
            <!-- TODO: ваш блок має бути тут -->

            <!-- /21__PADI Open Water Course ()-->


            <!-- 22__PADI Advanced Open Water Diver (AOWD) () -->
            <!-- TODO: ваш блок має бути тут -->

            <!-- /22__PADI Advanced Open Water Diver (AOWD) (Tsap Illia)-->


            <!-- 23__PADI Divemaster Course (Oleksandr Pechak) -->
            <!-- TODO: ваш блок має бути тут -->

            <!-- /23__PADI Divemaster Course ()-->


            <!-- 24__Contacts-3 (Mushchynka Vasyl) -->
            <!-- TODO: ваш блок має бути тут -->

            <!-- /24__Contacts-3 (Mushchynka Vasyl)-->
        </main>


        <!-- 01__footer (Yavorskyi Taras) -->
        <footer
            class="global__footer"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="components/global.footer.partial.html">
        </footer>
        <!-- /01__footer (Yavorskyi Taras) -->
    </body>
</html>
