<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Diving School</title>
        <link rel="icon" href="assets/images/favicon.png" type="image/png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> <!--for the sake of ticking the boxes in Telegram-->
        <script
            src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <!-- 01__header (Yavorskyi Taras) -->
        <header
            class="global__header"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="components/global.header.partial.html">
        </header>
        <!-- /01__header (Yavorskyi Taras)-->


        <main class="main">
            <!-- 01__menu (Yavorskyi Taras) -->
            <nav
                class="global__nav-menu"
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="components/global.nav-menu.partial.html">
            </nav>
            <!-- /01__menu (Yavorskyi Taras) -->


            <!-- 20__Certificates (Dobriuk Oleksandr ) -->
            <!-- TODO: ваш блок має бути тут --> <!--ну добре хай буде)-->
            <section class="Certificates">
                <div class="Certificat-top">
                    <img src="assets\images\favicon.png" alt="logo-lf-side">
                    <h1>Scuba Diving Course</h1>
                    <p>If you have already tried scuba diving, and you liked it, and you want to know more, be more independent <br>under the water and dive in the places for certified divers, then the Open Water Diver diving course in Phuket <br>is where you need to start. The course is divided into several parts: theory, practice, and of course, diving itself.<br>It's simple: you go through all these parts of training in parallel: theory and practice in the pool or shallow water, <br>and then real dives in the sea. During the training, you will learn everything that a diver should know: how the <br>equipment works and how to use it and take care of it; where and when you can dive and how to plan your dives, <br>how to swim under the water. You will learn so much that every day will bring you more and more vivid impressions!</p>
            </div>
                <div class="Certificat-middle">

                    <!--Middle block with logo & topic-->
                    <div class="logo-center">
                        <img src="assets\images\favicon.png" alt="logo-center">
                        <h1>Certificates</h1>
                    </div>
                <ul class="certificates-list">
                    <li>
                        <img src="assets\images\sections\сertificates\Certik1.png" alt="Certificate 1" class="cert-img">
                        </li>
                    <li>
                        <img src="assets\images\sections\сertificates\Certik2.png" alt="Certificate 2" class="cert-img">
                        </li>
                    <li>
                        <img src="assets\images\sections\сertificates\Certik3.png" alt="Certificate 3" class="cert-img">
                        </li>
                    <li>
                        <img src="assets\images\sections\сertificates\Certik4.png" alt="Certificate 4" class="cert-img">
                        </li>

                    
                    </ul>
                   <img src="assets\images\sections\сertificates\grab deep.webp" alt="middle-pic" class="big-middle-pic"> 
            </div>
            </section>
            
            <!-- /20__Certificates (Dobriuk Oleksandr)-->
            
            
            <!-- 21__PADI Open Water Course (Dobriuk Oleksandr) -->
            <!-- TODO: ваш блок має бути тут --> <!--треба пригутувати поїсти для котів-->
        <section class="PADI">
                <!--Middle block with logo & topic-->
                <div class="logo-center">
                    <img src="assets\images\favicon.png" alt="logo-center">
                    <h1>PADI Open Water Course</h1>
                </div>
                <!--Main part of page-->
            <div class="main-text">
                <p>A course for beginners with an international certificate. As part of the course, students are introduced to diving equipment, the basics of scuba diving, and various techniques. Upon successful completion of the course, a PADI Open Water Diver certificate is issued, which is recognized worldwide. To get it, you need to attend theoretical classes, make 1-2 dives in the pool with an instructor and 4 dives in open water (at sea), correctly complete the necessary actions and fill out the test exam.</p>
                <ul class="course-list">
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>Quantity of dives: 4+pool</span>
                    </li>
                    
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>Approximate Duration: 3-4 days</span>
                    </li>
                    
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>
                            Prices starting from:<br>
                            115.00 USD (Adult)<br>
                            80.00 USD (Child) <!--Доброго дня( або вечора. може ночі) я дуже вдячний вам за те що ви перевіряєти мій код. Гарно вам дня)-->
                        </span>
                    </li>
                    
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>Minimum Age: 10 years old</span>
                    </li>
                </ul>
                
                
<!--features-list-->
                
                <ul class="features-list">
                    <li class="feature-item">
                        <div class="icon-circle">
                            <img src="assets\images\sections\why-choose-us\icons\tours.svg" alt="Flippers" class="feature-img">
                        </div>
                        <p>
                            Experienced instructors: Learn the basics of scuba diving from a friendly and highly qualified team of trainers.
                        </p>
                    <li class="feature-item">
                        <div class="icon-circle">
                            <img src="assets\images\sections\why-choose-us\icons\certification.svg" alt="Diving Mask" class="feature-img">
                        </div>
                        <p>
                            Practice: The course includes theoretical lessons and the implementation of mandatory exercises in the pool.
                        </p>
                    </li>

                    <li class="feature-item">
                        <div class="icon-circle">
                            <img src="assets\images\sections\why-choose-us\icons\diving-safari.svg" alt="Octopus" class="feature-img">
                        </div>
                        <p>
                            Diving from childhood: The course is available for kids from 10 y.o. Maximum diving depth is 12m.
                        </p>
                    </li>
                 <div class="gallery">
                    <img src="assets\images\sections\сertificates\Driver for RTX 4070.webp" alt="Diver swimming" class="gallery-img">
                        
                    <img src="assets\images\sections\сertificates\OOyes.webp" alt="Diver showing OK" class="gallery-img">
                </div>    
                
                
            </div>
            
        </section>
            

            <!-- /21__PADI Open Water Course (Dobriuk Oleksandr)-->

            <!-- 22__PADI Advanced Open Water Diver (AOWD) (Dobriuk Oleksandr) -->
            <!-- Ріцепт смачного печива-->
            <!-- 80 г цукру
            2 яйця
            340 г борошна
            150 г вершкового масла
            1 ч. л. розпушувача
            ⅓ ч. л. солі
            10 г ванільного цукру 
            Перемішати щоб не було комочкив 
            І в пічку на 180 градусів на 10 хв-->
            <!-- TODO: ваш блок має бути тут -->
        <section class="PADI">
                <!--Middle block with logo & topic-->
                <div class="logo-center">
                    <img src="assets\images\favicon.png" alt="logo-center">
                    <h1>PADI Advanced Open Water Diver (AOWD)</h1>
                </div>
                <!--Main part of page-->
            <div class="main-text">
                <p>The PADI Advanced Open Water Diver course consists of 5 dives, two of which are mandatory - a deep sea dive (no deeper than 30m) and underwater navigation. The remaining 3 dives are selected at the discretion of the student. It can be: AWARE fish identification, ship diving, towing dives, current diving, mastery of buoyancy, night dive, multilevel dives and computer dives, search and recovery of sunken objects, underwater naturalist, underwater photography, wreck diving.</p>
                <ul class="course-list">
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>Quantity of dives: 5</span>
                    </li>
                    
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>Approximate Duration: 2 days</span>
                    </li>
                    
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>
                            Prices starting from:<br>
                            300.00 USD (Adult)<br>
                            200.00 USD (Child)
                        </span>
                    </li>
                    
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>Minimum Age: 10 years old</span>
                    </li>
                </ul>
                
                
<!--features-list-->
                
                <ul class="features-list">
                    <li class="feature-item">
                        <div class="icon-circle">
                            <img src="assets\images\sections\why-choose-us\icons\tours.svg" alt="Flippers" class="feature-img">
                        </div>
                        <p>
                            Experienced instructors: Learn the basics of scuba diving from a friendly and highly qualified team of trainers.
                        </p>
                    <li class="feature-item">
                        <div class="icon-circle">
                            <img src="assets\images\sections\why-choose-us\icons\certification.svg" alt="Diving Mask" class="feature-img">
                        </div>
                        <p>
                            Practice: The course includes 5 dives on different depth with implementation of exercises and exam passing.
                        </p>
                    </li>
                    
                    <li class="feature-item">
                        <div class="icon-circle">
                            <img src="assets\images\sections\why-choose-us\icons\diving-safari.svg" alt="Octopus" class="feature-img">
                        </div>
                        <p>
                            Diving from childhood: The course is available for kids from 10 y.o. Maximum diving depth is 12m.
                        </p>
                    </li>
                    <img src="assets\images\sections\сertificates\bluelips.webp" alt="Diver underwater" class="full-banner">
            </div>
            
        </section>
            <!-- /22__PADI Advanced Open Water Diver (AOWD) (Dobriuk Oleksandr)-->


            <!-- 23__PADI Divemaster Course (Dobriuk Oleksandr) -->
            <!-- TODO: ваш блок має бути тут -->
        <section class="PADI">
                <!--Middle block with logo & topic-->
                <div class="logo-center">
                    <img src="assets\images\favicon.png" alt="logo-center">
                    <h1>PADI Open Water Course</h1>
                </div>
                <!--Main part of page-->
            <div class="main-text">
                <p>The PADI Divemaster course is the first professional level. The course consists of an extensive theoretical part, and also includes assistance to the instructor in the pool and in open water. To join the course, you need to have a PADI AOWD or equivalent certificate . Also you should have a PADI Rescue Diver certificate or equivalent, be at least 18 years old and have a good physical shape. The duration of this course depends on your previous experience as by the end of the course, you need to have at least 60 registered dives in open water.</p>
                <ul class="course-list">
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>Quantity of dives: no less that 60</span>
                    </li>
                    
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>Approximate Duration: 15 days</span>
                    </li>
                    
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>
                            Prices starting from:<br>
                            1000.00 USD (Adult)<br>
                            800.00 USD (Child)
                        </span>
                    </li>
                    
                    <li>
                        <i class="fa-solid fa-check check-icon"></i>
                        <span>Minimum Age: 18 years old</span>
                    </li>
                </ul>
                
                
<!--features-list-->
                
                <ul class="features-list">
                    <li class="feature-item">
                        <div class="icon-circle">
                            <img src="assets\images\sections\why-choose-us\icons\tours.svg" alt="Flippers" class="feature-img">
                        </div>
                        <p>
                            Experienced instructors: Learn the basics of scuba diving from a friendly and highly qualified team of trainers.
                        </p>
                    <li class="feature-item">
                        <div class="icon-circle">
                            <img src="assets\images\sections\why-choose-us\icons\certification.svg" alt="Diving Mask" class="feature-img">
                        </div>
                        <p>
                            Vast opportunities: this course is your first step to becoming a professional diver. You'll become a PADI member with all benefits.
                        </p>
                    </li>

                    <li class="feature-item">
                        <div class="icon-circle">
                            <img src="assets\images\sections\why-choose-us\icons\diving-safari.svg" alt="Octopus" class="feature-img">
                        </div>
                        <p>
                            Privileges: subscribe to the Undersea Journal, receive newsletters from the PADI head office and discounts on purchases.
                        </p>
                    </li>
            </div>
            
        </section>
            <!-- /23__PADI Divemaster Course (Dobriuk Oleksandr)-->


            <!-- 24__Contacts-3 (Mushchynka Vasyl) -->
            <!-- TODO: ваш блок має бути тут -->

            <!-- /24__Contacts-3 (Mushchynka Vasyl)-->
        </main>


        <!-- 01__footer (Yavorskyi Taras) -->
        <footer
            class="global__footer"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="components/global.footer.partial.html">
        </footer>
        <!-- /01__footer (Yavorskyi Taras) -->
    </body>
</html>