<!-- 12__About ThaiDiving ( Savchuk Nazar) -->
<section class="about-thai-diving">
  <div class="about-thai-diving__bg-overlay"></div>

  <div class="wrapper">
    <header
      class="global__header"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="components/global.header.partial.html"
    ></header>

    <nav
      class="global__nav-menu"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="components/global.nav-menu.partial.html"
    ></nav>

    <div class="about-thai-diving-inner container">
      <img
        src="./assets/ui/icons/diver-icon.svg"
        alt="Diver icon"
        class="about-thai-diving__header-icon"
      />
      <h2 class="about-thai-diving__title">About ThaiDiving</h2>
      <p class="about-thai-diving__description">
        Phuket is a great place to get acquainted with diving or go to conquer
        the deep sea, if you are already an experienced diver.<br />
        Our company has been working in Phuket for 10 years, and has gathered
        the best PADI instructors. We offer diving in Phuket <br />
        for certified divers of various levels - from freshly trained Open Water
        divers to experienced technical and cave divers. <br/ ><br/ > If you
        have not already dived to Phuket, then our instructors will introduce
        you to all the underwater beauties and sights <br />
        of diving sites in Phuket.
      </p>

      <div class="about-thai-diving__cards">
        <article class="about-thai-diving__card">
          <img
            src="./assets/images/sections/about-thai-diving/about-thai-diving-card-1.webp"
            width="570"
            alt="Diving school in Phuket"
            class="about-thai-diving__card-image"
          />
          <div class="card__content">
            <h3 class="about-thai-diving__card-title">Diving School</h3>
            <p class="about-thai-diving__card-text">
              In our diving center in Phuket, professional PADI instructors
              work. After the course, you receive a certificate that gives you
              the right to visit sites according to your current level.
            </p>
            <a
              href="diving-school.html"
              class="about-thai-diving__card-link button__button-primary"
            >
              LEARN MORE
            </a>
          </div>
        </article>

        <article class="about-thai-diving__card">
          <img
            src="./assets/images/sections/about-thai-diving/about-thai-diving-card-2.webp"
            width="570"
            alt="Diving tours in Phuket"
            class="about-thai-diving__card-image"
          />
          <div class="card__content">
            <h3 class="about-thai-diving__card-title">Diving Tours</h3>
            <p class="about-thai-diving__card-text">
              A great alternative to a beach lounger. You embark on an exciting
              adventure with experienced instructors who will help you dive
              safely and see the underwater world in all its diversity.
            </p>
            <a
              href="diving-school.html"
              class="about-thai-diving__card-link button__button-primary"
            >
              LEARN MORE
            </a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
