<section class="about-thai-diving">
  <img
    src="../assets/ui/icons/diver-icon.svg"
    width="70"
    alt="Diver icon"
    class="about-thai-diving__header-image"
  />
  <h2 class="about-thai-diving__title">About ThaiDiving</h2>
  <p class="about-thai-diving__description">
    Phuket is a great place to get acquainted with diving or go to conquer the
    deep sea, if you are already an experienced diver. Our company has been
    working in Phuket for 10 years, and has gathered the best PADI instructors.
    We offer diving in Phuket for certified divers of various levels — from
    freshly trained Open Water divers to experienced technical and cave divers.
    If you have not already dived in Phuket, our instructors will introduce you
    to the underwater beauties and the best dive sites around the island.
  </p>

  <div class="about-thai-diving__cards">
    <article class="about-thai-diving__card">
      <img
        src="../assets/images/sections/about-thai-diving/about-thai-diving-card-1.webp"
        width="570"
        alt="Diving school in Phuket"
        class="about-thai-diving__card-image"
      />
      <h3 class="about-thai-diving__card-title">Diving School</h3>
      <p class="about-thai-diving__card-text">
        In our diving center in Phuket, professional PADI instructors work.
        After the course, you receive a certificate that gives you the right to
        visit sites according to your current level.
      </p>
      <a href="diving-school.html" class="about-thai-diving__card-link"
        >LEARN MORE</a
      >
    </article>

    <article class="about-thai-diving__card">
      <img
        src="../assets/images/sections/about-thai-diving/about-thai-diving-card-2.webp"
        width="570"
        alt="Diving tours in Phuket"
        class="about-thai-diving__card-image"
      />
      <h3 class="about-thai-diving__card-title">Diving Tours</h3>
      <p class="about-thai-diving__card-text">
        A great alternative to a beach lounger. You embark on an exciting
        adventure with experienced instructors who will help you dive safely and
        see the underwater world in all its diversity.
      </p>
      <a href="diving-school.html" class="about-thai-diving__card-link"
        >LEARN MORE</a
      >
    </article>
  </div>
</section>
