<section class="our-equipment">
  <img
    src="./assets/ui/icons/diver-icon.svg"
    alt="Diver icon"
    width="70"
    class="our-equipment__header-image"
  />
  <h2 class="our-equipment__title">Our Equipment</h2>
  <article class="our-description__card--left-image">
    <img
      src="./assets/images/sections/about-our-equipment/about-our-equipment-image-1.webp"
      alt="Diving equipment"
      width="570"
      class="our-description__card-image"
    />
    <div class="our-description__card-text-wrapper">
      <h3 class="our-description__card-title">Speedboat RIB DIVERSAINT</h3>
      <p class="our-description__card-text">
        The RIB DIVERSAINT high-speed boat is equipped with two Yamaha engines,
        which allows you to get to any dive sites three times faster than large
        diving ships. It is used for one-day diving in the Phuket water area.
      </p>
    </div>
  </article>
  <article class="our-description__card--right-image">
    <img
      src="./assets/images/sections/about-our-equipment/about-our-equipment-image-2.webp"
      alt="Diving equipment"
      width="570"
      class="our-description__card-image"
    />
    <div class="our-description__card-text-wrapper">
      <h3 class="our-description__card-title">DIVERACE CLASS E</h3>
      <p class="our-description__card-text">
        Launched in 2015, the MV DiveRACE Class E safari ship has a length of
        34.5 m and a width of 7.5 m. The dive deck is spacious enough for any
        diver, both for amateurs and techies. 6 twin cabins are located on the
        main deck.
      </p>
    </div>
  </article>
</section>
