<!-- 14__Our Instructors (Tsap Illia) -->
<section class="our-instructors">
    <img src="assets/ui/icons/diver-icon.svg" alt="" width="60" class="our-instructors__main-icon" aria-hidden="true" />
    <h2 class="our-instructors__title">Our Instructors</h2>
    <div class="our-instructors__container">
        <article class="our-instructors__article">
            <img class="our-instructors__article-icon" src="assets/images/sections/our-instructors/ali-meddan.png" />
            <h3 class="our-instructors__article-name">Ali Meddan</h3>
            <p class="our-instructors__article-description">
                Ali started 10 years ago as an amateur, and simply fell in love with the underwater world.
                He went all the way and became a professional diving instructor at ThaiDiving.
            </p>
        </article>
        <article class="our-instructors__article">
            <img class="our-instructors__article-icon" src="assets/images/sections/our-instructors/joe-riverstone.png" />
            <h3 class="our-instructors__article-name">Joe Riverstone</h3>
            <p class="our-instructors__article-description">
                Joe has extensive experience with both adults and children. 
                He not only transfers his skills to divers but instills a love for the underwater world and its diverse inhabitants.
            </p>
        </article>
        <article class="our-instructors__article">
            <img class="our-instructors__article-icon" src="assets/images/sections/our-instructors/stacey-nicolson.png" />
            <h3 class="our-instructors__article-name">Stacey Nicolson</h3>
            <p class="our-instructors__article-description">
                Stacey's track record has more than 200 dives and more than 50 students who have become professional divers. 
                She loves the sea as much as teaching people to dive!
            </p>
        </article>
    </div>
</section>