<!-- 14__Our Instructors (Mariia Palamariuk) -->
<section class="our-instructors our-instructors__background">
        <div class="our-instructors-iner">
            <img src="assets/ui/icons/diver-icon.svg" width="60" class="our-instructors__main-icon"
                aria-hidden="true" />
            <h2 class="our-instructors__title">Our Instructors</h2>

            <div class="container">
                <div class="our-instructors__container__cards">
                    <div class="our-instructors__card">
                        <img class="our-instructors__article-icon"
                            src="assets/images/sections/our-instructors/ali-meddan.png" alt="Instructor Ali Meddan"
                            width="120" />
                        <h3 class="our-instructors__article-name"><span>Ali Meddan</span></h3>
                        <p class="our-instructors__article-description">
                            Ali started 10 years ago as an amateur, and simply fell in love with the underwater world.
                            He went all the way and became a professional diving instructor at ThaiDiving.
                        </p>
                    </div>

                    <div class="our-instructors__card">
                        <img class="our-instructors__article-icon"
                            src="assets/images/sections/our-instructors/joe-riverstone.png"
                            alt="Instructor Joe Riverstone" width="120" />
                        <h3 class="our-instructors__article-name"><span>Joe Riverstone</span></h3>
                        <p class="our-instructors__article-description">
                            Joe has extensive experience with both adults and children.
                            He not only transfers his skills to divers but instills a love for the underwater world and
                            its
                            diverse inhabitants.
                        </p>
                    </div>

                    <div class="our-instructors__card">
                        <img class="our-instructors__article-icon"
                            src="assets/images/sections/our-instructors/stacey-nicolson.png"
                            alt="Instructor Stacey Nicolson" width="120" />
                        <h3 class="our-instructors__article-name"><span>Stacey Nicolson</span></h3>
                        <p class="our-instructors__article-description">
                            Stacey's track record has more than 200 dives and more than 50 students who have become
                            professional
                            divers.
                            She loves the sea as much as teaching people to dive!
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>