<section>
  <img
    src="../assets/ui/icons/diver-icon.svg"
    width="70"
    alt="About ThaiDiving"
    class="about-thai-diving__header-image"
  />
  <h2>About ThaiDiving</h2>
  <p>
    Phuket is a great place to get acquainted with diving or go to conquer the
    deep sea, if you are already an experienced diver. Our company has been
    working in Phuket for 10 years, and has gathered the best PADI instructors.
    We offer diving in Phuket for certified divers of various levels - from
    freshly trained Open Water divers to experienced technical and cave divers.
    If you have not already dived to Phuket, then our instructors will introduce
    you to all the underwater beauties and sights of diving sites in Phuket.
  </p>
  <div class="about-thai-diving__cards">
    <div class="about-thai-diving__card">
      <img
        src="../assets/images/sections/about-thai-diving/about-thai-diving-card-1.webp"
        width="570"
        alt="Diving in Phuket"
      />
      <h3>Diving School</h3>
      <p>
        In our diving center in Phuket, professional PADI instructors work.
        After the course, you receive a certificate that gives you the right to
        visit sites according to your current level.
      </p>
      <a href="diving-school.html">LEARN MORE</a>
    </div>
    <div class="about-thai-diving__card">
      <img
        src="../assets/images/sections/about-thai-diving/about-thai-diving-card-2.webp"
        width="570"
        alt="Diving in Phuket"
      />
      <h3>Diving Tours</h3>
      <p>
        <p class="w-text-content"
          >A great alternative to a beach lounger. You embark on an exciting
          adventure with experienced instructors who will help you dive safely
          and see the underwater world in all its diversity.</p
        >
      </p>
      <a href="diving-school.html">LEARN MORE</a>

    </div>
  </div>
</section>
