<section class="contacts__contacts">
  <header
    class="global__header"
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="components/global.header.partial.html">
  </header>

  <nav
    class="global__nav-menu"
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="components/global.nav-menu.partial.html">
  </nav>

  <section
    class="contacts_map"
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="components/global.contacts-map.partial.html">
  </section>

  <section
    class="contacts_form"
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="components/contacts.contacts_form.partial.html">
  </section>
</section>