<section class="contacts">
  <div class="contacts__content">
    <img
      src="img/ui/icons/diver-icon.svg"
      alt="Diver icon"
      class="contacts__image"
    />
    <h2 class="contacts__title">Contacts</h2>
    <p class="contacts__text">
      We recommend booking diving tours and courses in advance. Feel free to
      contact us for any personal inquiries:
    </p>
    <div class="contacts__info">
      <p class="contacts__info-title">Address</p>
      <p class="contacts__info-desc">
        6/86 Moo 8, T. Vichit, A. Muang, Phuket, Thailand, 83000
      </p>
    </div>
    <div class="contacts__info">
      <p class="contacts__info-title">Hours</p>
      <p class="contacts__info-desc">
        Monday – Saturday: 11 AM – 9 PM
        Sunday: 11 AM – 11 PM
      </p>
    </div>
    <div class="contacts__info">
      <p class="contacts__info-title">Contacts</p>
      <p class="contacts__info-desc">
        <a class="contacts__phone" href="tel:+12345678900">+1 (234) 567 89 00</a
        ><br />
        <a class="contacts__email" href="mailto:thaidiving@email.com"
          >thaidiving@email.com</a
        >
      </p>
    </div>
  </div>
  <div class="contacts__form">
    <form action="#" class="contacts__form-body">
      <label class="contacts__label">
        <input
          type="text"
          name="name"
          placeholder="Your Name"
          class="contacts__input"
        />
      </label>
      <label class="contacts__label">
        <input
          type="tel"
          name="phone"
          placeholder="Phone Number"
          class="contacts__input"
        />
      </label>
      <label class="contacts__label">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="contacts__input"
        />
      </label>
      <button class="contacts__btn">Go Diving</button>
    </form>
  </div>
</section>
