<!-- 01__nav-menu (Yavorskyi Taras) -->
<nav class="global__nav-menu">
  <ul class="menu__list">
    <li>
      <a href="../index.html" class="menu__main-link">
        <span class="lqip-wrapper">
          <img class="logo-image" src="assets/images/main-page-logo.webp" width="187" height="auto" alt="logo">
        </span>
      </a>
    </li>
    <li class="menu__item">
      <span class="menu__item-wrapper">
        <a class="menu__link" href="../about.html">About Us</a>
      </span>
    </li>
    <li class="menu__item">
      <span class="menu__item-wrapper">
        <a class="menu__link" href="../packages.html">Packages</a>
      </span>
    </li>
    <li class="menu__item">
      <span class="menu__item-wrapper">
        <a class="menu__link" href="../school.html">Diving School</a>
      </span>
    </li>
    <li class="menu__item">
      <span class="menu__item-wrapper">
        <a class="menu__link" href="../contacts.html">Contacts</a>
      </span>
    </li>
  </ul>

  <div class="btns-group">
    <a class="btns-group__item button__go-diving"
      href="#contact-form">
      <span class="button__border"></span>
      <span class="button__inner">
        <span class="button__content">GO DIVING</span>
      </span>
    </a>
  </div>
</nav>