<!-- 01__nav-menu (Yavorskyi Taras) -->
<nav class="global__nav-menu">
  <ul class="menu__list">
    <li>
      <a href="../index.html">
        <img width="187" height="auto" alt="logo" src="assets/images/main-page-logo.webp">
      </a>
    </li>
    <li class="menu__item">
      <span class="menu__item-wrapper">
        <a class="menu__link" href="about.html">About Us</a>
      </span>
    </li>
    <li class="menu__item">
      <span class="menu__item-wrapper">
        <a class="menu__link" href="packages.html">Packages</a>
      </span>
    </li>
    <li class="menu__item">
      <span class="menu__item-wrapper">
        <a class="menu__link" href="school.html">Diving School</a>
      </span>
    </li>
    <li class="menu__item">
      <span class="menu__item-wrapper">
        <a class="menu__link" href="contacts.html">Contacts</a>
      </span>
    </li>
  </ul>
</nav>