<!-- Matvii Nalyvaiko -->
<meta charset="UTF-8">
<section id="Destinations">
    <div id="Destinations_container">

        <div id="Destinations_header">
            <span id="Destinations_diver_icon">
                <img src="../assets/ui/icons/diver-icon.svg" width="60" alt="">
            </span> 
            <h1>Destinations</h1>
        </div>

        <div id="Destinations_Racha_Yai">

            <span class="Destinations_img">
                <img src="../assets/images/sections/destinations/racha_yai.png" alt="" width="600">
            </span>

            <div class="Destinations_text">

                <h2>Racha Yai</h2>

                <div class="Destinations_p">
                    <p>
                    Ideal for beginners. Experienced divers come here only to get in shape after long breaks between dives.
                    The main advantages of Koh Racha Yai are: 20 km from Phuket, a shallow sandy bottom; clear, calm water
                    and good visibility under water throughout the year.
                    </p>
                </div>

                <div class="Destinations_a">
                    <a href="#" class="read-more">READ MORE</a>
                </div>

            </div>
        </div>

        <div id="Destinations_Anemone_Reef">

            <div class="Destinations_text">

                <h2>Anemone Reef</h2>

                <div class="Destinations_p">
                    <p>
                    A limestone rock, which rises from a depth of 30 meters, its eastern slope is a gentle descent to the sandy bottom,
                    the western is a sheer wall. The abundance of anemones and nutrient-rich water attract an incredible amount of tropical
                    fish to Anemone Reef.
                    </p>
                </div>

                <div class="Destinations_a">
                    <a href="#" class="read-more">READ MORE</a>
                </div>
            </div>

            <span id="Destinations_img">
                <img src="../assets/images/sections/destinations/anemone_reef.png" alt="" width="600">
            </span>
        </div>

        <div id="Destinations_King_Cruiser">

            <span class="Destinations_img">
                <img src="../assets/images/sections/destinations/king_cruiser.png" alt="" width="600">
            </span>
            <div class="Destinations_text">

                <h2>King Cruiser</h2>

                <div class="Destinations_p">
                    <p>
                    King Cruiser is a large car ferry that sank in 1997 after a collision with the underwater part of Anemone Reef and
                    turned into an artificial coral reef. Only certified divers can dive at King Cruiser. Perfect for those who like
                    wreck diving and enjoy the mysteries of the sank ships.
                    </p>
                </div>

                <div class="Destinations_a">
                    <a href="#" class="read-more">READ MORE</a>
                </div>

            </div>

        </div>



    </div>
</section>



