<!-- 05__Diving Packages (Oslaiev Mykyta) -->
<section class="diving-packages">
    <div class="diving-packages__header">
        <div class="diving-packages__image-container">
            <img src="./assets/ui/icons/diver-icon.svg" alt="Diving icon">
        </div>
        <div class="diving-packages__title-container">
            <h2 class="diving-packages__title">Diving Packages</h2>
            <p class="diving-packages__subtitle">By purchasing a diving package in Phuket, you save a lot!<br>The offers are valid only for the certified divers.</p>
        </div>
    </div>

    <div class="diving-packages__cards-container">
        <article class="diving-packages__package-card">
            <div class="package-card__image">
                <img src="./assets/images/sections/diving-packages/images/3days-9dives.jpg" alt="3 Days - 9 Dives">
            </div>
            <div class="package-card__body">
                <h3 class="diving-packages__package-title">3 Days - 9 Dives</h3>
                <p class="diving-packages__package-price">from $300</p>
                <p class="diving-packages__package-description">Make the most of your diving experience in Phuket. We will go diving 3 times a day, 3 days in a row, in different nearby places.</p>
                <a class="package-card__link" href="#">KNOW MORE</a>
            </div>
        </article>

        <article class="diving-packages__package-card">
            <div class="package-card__image">
                <img src="./assets/images/sections/diving-packages/images/night-dives.jpg" alt="Night Dives" >
            </div>
            <div class="package-card__body">
                <h3 class="diving-packages__package-title">Night Dives</h3>
                <p class="diving-packages__package-price">from $150</p>
                <p class="diving-packages__package-description">Night diving is something you should try. The underwater world is spectacular at night! The offer is only for AOWD divers.</p>
                <a class="package-card__link" href="#">KNOW MORE</a>
            </div>
        </article>

        <article class="diving-packages__package-card">
            <div class="package-card__image">
                <img src="./assets/images/sections/diving-packages/images/3caves-3days.jpg" alt="3 Caves - 3 Days">
            </div>
            <div class="package-card__body">
                <h3 class="diving-packages__package-title">3 Caves - 3 Days</h3>
                <p class="diving-packages__package-price">from $250</p>
                <p class="diving-packages__package-description">For Advanced Divers Only. We go diving to undisclosed caves in the Phuket surroundings. One day - one cave!</p>
                <a class="package-card__link" href="#">KNOW MORE</a>
            </div>
        </article>
    </div>

    <div class="diving-packages__cta-row">
        <a class="diving-packages__cta-button" href="#">LET'S GO DIVING</a>
    </div>
</section>