<section class="contacts__form">
  <div class="contacts__content">
    <img
      src="../assets/ui/icons/diver-icon.svg"
      alt="logo"
      class="contacts__content-img"
    />
    <h2 class="contacts__content--title">Contacts</h2>
    <p class="contacts__content--text">
      We recommend booking diving tours and courses in advance. Feel free to
      contact us for any personal inquiries:
    </p>
    <div class="contacts__content--inform">
      <p class="contacts__content--title">Address</p>
      <p class="contacts__content--desk">
        6/86 Moo 8, T. Vichit, A. Muang, Phuket, Thailand, 83000
      </p>
    </div>
    <div class="contacts__content--inform">
      <p class="contacts__content--title">Hours</p>
      <p class="contacts__content--desk">
        Monday - Saturday: 11 AM - 9 PM
        Sunday: 11 AM -11 PM
      </p>
    </div>
    <div class="contacts__content--inform">
      <p class="contacts__content--title">Contacts</p>
      <p class="contacts__content--desk">
        <a href = "tel:+12345678900">+1 (234) 567 89 00</a>
        thaidiving@email.com
      </p>
    </div>
  </div>
  <div class="contacts__form--section">
    <form action="#" class="contacts__form--form">
        <input type="text" class="contacts__form--input">
        <input type="tel" class="contacts__form--input">
        <input type="email" class="contacts__form--input">
        <button class="contacts__form--btn">Go Diving</button>
    </form>
  </div>
</section>
