<div class="explore-phuket">
    <div class="container">
        <div class="header">
            <img class="logo" src="assets/ui/icons/diver-icon.svg">
            <h2 class="title">Explore Phuket</h2>
        </div>

        <div class="content">
            <div class="text">
                <p>
                    If you go on vacation to Phuket don't forget to save some time for scuba diving.
                    The underwater world here is perfect both for amateurs and professional divers.
                </p>

                <p>
                    Diving in Phuket and diving safaris on the Similan Islands are traditionally among
                    the ten best places in the world for scuba diving. Phuket dive sites are famous for
                    their variety of corals and an abundance of underwater fauna.
                </p>
            </div>
            <div class="image-wrapper">
                <img src="assets/images/sections/explore-phuket/explore-phuket.png">
            </div>
        </div>
    </div>
</div>
