<!-- 10__Gallery (Pokotylenko Antonina) -->
 <section class="gallery">
    <div class="gallery__icon">
        <img
        width="64" 
        src="./assets/ui/icons/diver-icon.svg" 
        alt="Diver icon">
    </div>
     <h2 class="gallery__title">Gallery</h2>
    
    <p class="gallery__subtitle">Amazing places in the Phuket area. Admire and go diving!</p>
    
    <div class="gallery__grid">
        <div class="gallery__item">
            <img
            width="30%"
            src="./assets/images/sections/gallery/diver-and-fishes.webp" 
            alt="Underwater sculpture garden with divers" class="gallery__image">
        </div>
        
        <div class="gallery__item">
            <img
            width="30%"
            src="./assets/images/sections/gallery/coral-reef-colorful-marine.webp" 
            alt="Coral reef with colorful marine life" class="gallery__image">
        </div>
        
        <div class="gallery__item">
            <img 
            width="30%"
            src="./assets/images/sections/gallery/pink-coral-tropical-fish.webp" 
            alt="Pink coral and tropical fish" class="gallery__image">
        </div>
        
        <div class="gallery__item">
            <img
            width="30%" 
            src="./assets/images/sections/gallery/diver-coral-reef.webp" 
            alt="Diver exploring coral reef with yellow fish" class="gallery__image">
        </div>
        
        <div class="gallery__item">
            <img 
            width="30%"
            src="./assets/images/sections/gallery/black-white-coral.webp" 
            alt="Black and white coral formations" class="gallery__image">
        </div>
        
        <div class="gallery__item">
            <img 
            width="30%"
            src="./assets/images/sections/gallery/anemone-clownfish.webp" 
            alt="Anemone with clownfish" class="gallery__image">
        </div>
    </div>
 </section>