<!-- 04__Why Choose Us (Savchuk Nazar) -->
<section class="why-choose-us">
  <div class="why-choose-us__container container">
    <div class="why-choose-us__header">
      <span class="why-choose-us__icon-wrapper">
        <img
          src="./assets/ui/icons/diver-icon.svg"
          alt="Diver icon"
          width="60"
          class="why-choose-us__main-icon"
          aria-hidden="true"
        />
      </span>
      <h3 class="why-choose-us__title">Why Choose Us?</h3>
    </div>
    <div class="why-choose-us__list">
      <article class="why-choose-us__item">
        <div class="why-choose-us__item-icon-wrapper">
          <img
            width="60"
            src="./assets/images/sections/why-choose-us/icons/full-service.svg"
            alt="Full service icon"
            class="why-choose-us__item-icon"
          />
        </div>
        <h2 class="why-choose-us__item-title">Full Service</h2>
        <p class="why-choose-us__item-text">
          We organize the whole diving program with transfers from your hotel
          and meals on-board.
        </p>
      </article>
      <article class="why-choose-us__item">
        <div class="why-choose-us__item-icon-wrapper">
          <img
            width="60"
            src="./assets/images/sections/why-choose-us/icons/certification.svg"
            alt="Certification icon"
            class="why-choose-us__item-icon"
          />
        </div>
        <h2 class="why-choose-us__item-title">Certification</h2>
        <p class="why-choose-us__item-text">
          PADI certification. Become a professional scuba diver during your next
          trip to Phuket.
        </p>
      </article>
      <article class="why-choose-us__item">
        <div class="why-choose-us__item-icon-wrapper">
          <img
            width="60"
            src="./assets/images/sections/why-choose-us/icons/tours.svg"
            alt="Tours icon"
            class="why-choose-us__item-icon"
          />
        </div>
        <h2 class="why-choose-us__item-title">Tours</h3>

        <p class="why-choose-us__item-text">
          We also offer daily diving tours to Racha Yai, Anemone Reef, Shark
          Point, Racha Noi and more.
        </p>
      </article>
      <article class="why-choose-us__item">
        <div class="why-choose-us__item-icon-wrapper">
          <img
            width="60"
            src="./assets/images/sections/why-choose-us/icons/diving-safari.svg"
            alt="Diving safari icon"
            class="why-choose-us__item-icon"
          />
        </div>
        <h2 class="why-choose-us__item-title">Diving Safari</h2>
        <p class="why-choose-us__item-text">
          Go diving to Hin Muang, Koh Haa-Neua, Koh Haa-Yai and Similan Islands.
        </p>
      </article>
    </div>
  </div>
</section>
