<section class="courses-section">\
    <div class="courses">
        <img 
            class="courses-diver__icon"
            width="64"
            src="../assets/ui/icons/diver-icon.svg" 
            alt=""
        />
        <section class="courses">
    <h2 class="courses__title">Courses</h2>

    <div class="courses__list">
        <!-- Card 1 -->
        <article class="courses-card">
        <div class="courses-card__image-wrapper">
            <img
            class="courses-card__image"
            width="30%"
            src="../assets/images//sections/courses/padi-open-water.jpg"
            alt="PADI Open Water Course"
            />
        </div>
        <div class="courses-card__content">
            <h3 class="courses-card__title">PADI Open Water Course</h3>
            <p class="courses-card__text">
            A 3–4 days course for beginners. Students are introduced to the
            equipment, the basics of scuba diving, various techniques, and receive
            a certificate.
            </p>
            <a class="courses-card__link" href="../packages.html">Learn More</a>
        </div>
        </article>

        <!-- Card 2 -->
        <article class="courses-card">
        <div class="courses-card__image-wrapper">
            <img
            class="courses-card__image"
            width="30%"
            src="../assets/images//sections/courses/padi-advanced-open-water.jpg"
            alt="PADI Advanced Open Water Course"
            />
        </div>
        <div class="courses-card__content">
            <h3 class="courses-card__title">PADI Advanced Open Water Course</h3>
            <p class="courses-card__text">
            The course consists of 5 dives, 2 of which are mandatory – a deep sea
            dive (no deeper than 30m) and navigation. The 3 dives are left to the
            diver’s discretion.
            </p>
            <a class="courses-card__link" href="../packages.html">Learn More</a>
        </div>
        </article>

        <!-- Card 3 -->
        <article class="courses-card">
        <div class="courses-card-3__image-wrapper">
            <img
            class="courses-card__image"
            width="30%"
            src="../assets/images//sections/courses/padi-rescue-diver.jpg"
            alt="PADI Rescue Diver Course"
            />
        </div>
        <div class="courses-card__content">
            <h3 class="courses-card__title">PADI Rescue Diver Course</h3>
            <p class="courses-card__text">
            Learning the basics of saving a diver, the skills to overcome and
            prevent problems both on the surface and underwater. The course lasts
            for 2 days.
            </p>
            <a class="courses-card__link" href="../packages.html">Learn More</a>
        </div>
        </article>

        <!-- Card 4 -->
        <article class="courses-card">
        <div class="courses-card__image-wrapper">
            <img
            class="courses-card__image"
            width="30%"
            src="../assets/images/sections/courses/padi-divemaster.jpg"
            alt="PADI Divemaster Course"
            />
        </div>
        <div class="courses-card__content">
            <h3 class="courses-card__title">PADI Divemaster Course</h3>
            <p class="courses-card__text">
            The course consists of an extensive theoretical part, and includes
            assistance to the instructor in the pool and open water. PADI AOWD
            needed.
            </p>
            <a class="courses-card__link" href="../packages.html">Learn More</a>
        </div>
        </article>
        <a href="../school.html"><button>Show more courses</button></a>
    </div>
</section>