<!--07__Want to See the Phuket Undersea (Sverydova Anna)-->
<section class="want-to-see-the-phuket-undersea">
  <div class="want-to-see-the-phuket-undersea__container">
    <img
      class="want-to-see-the-phuket-undersea__icon"
      width="64"
      src="../assets/images/favicon.png"
      alt="diving club icon"
    />
    <h2 class="want-to-see-the-phuket-undersea__title">
      Want to See the Phuket Undersea?
    </h2>
    <p class="want-to-see-the-phuket-undersea__description">
      We can arrange any diving trip in the Adaman Sea for you.
    </p>
    <a class="want-to-see-the-phuket-undersea__link" href="contacts.html"
      >CONTACT US</a
    >
  </div>
  <div class="scuba-diving-course">
    <img
      class="scuba-diving-course__image"
      width="300"
      src="../assets/images/sections/want-to-see-the-phuket-undersea/scuba-diving-course.jpg"
      alt="Scuba Diving Course - Man"
    />
    <img
      class="scuba-diving-course__icon"
      width="64"
      src="../assets/images/favicon.png"
      alt="diving club icon"
    />
    <h2 class="scuba-diving-course__title">Scuba Diving Course</h2>
    <p class="scuba-diving-course__description">
      If you have already tried scuba diving, and you liked it, and you want to
      know more, be more independent under the water and dive in the places for
      certified divers, then the Open Water Diver diving course in Phuket is
      where you need to start. The course is divided into several parts: theory,
      practice, and of course, diving itself. It's simple: you go through all
      these parts of training in parallel: theory and practice in the pool or
      shallow water, and then real dives in the sea. During the training, you
      will learn everything that a diver should know: how the equipment works
      and how to use it and take care of it; where and when you can dive and how
      to plan your dives, how to swim under the water. You will learn so much
      that every day will bring you more and more vivid impressions!
    </p>
    <a class="scuba-diving-course__link" href="school.html">LEARN MORE</a>
  </div>
</section>