<!-- 06__Destinations (Matvii Nalyvaiko) -->
 <section class="destinations">
  <div class="destinations__container">
    <div class="destinations__header">
      <div class="destinations__icon">
        <img src="../assets/ui/icons/diver-icon.svg" width="60" alt="Diving icon" />
      </div>
      <h1 class="destinations__title">Destinations</h1>
    </div>

    <!-- Racha Yai -->
    <div class="destinations__item destinations__item--racha-yai">
      <div class="destinations__img">
        <img src="../assets/images/sections/destinations/racha_yai.png" alt="Racha Yai photo" width="600" />
      </div>

      <div class="destinations__content">
        <h2 class="destinations__subtitle">Racha Yai</h2>
        <p class="destinations__text">
          Ideal for beginners. Experienced divers come here only to get in shape after long breaks between dives.
          The main advantages of Koh Racha Yai are: 20 km from Phuket, a shallow sandy bottom, clear calm water
          and good visibility throughout the year.
        </p>

        <a href="about.html" class="destinations__link destinations__link--read-more">
          READ MORE
        </a>
      </div>
    </div>

    <!-- Anemone Reef -->
    <div class="destinations__item destinations__item--anemone-reef">
      <div class="destinations__content">
        <h2 class="destinations__subtitle">Anemone Reef</h2>
        <p class="destinations__text">
          A limestone rock rising from a depth of 30 meters. Its eastern slope is a gentle descent to the sandy bottom,
          while the western side is a sheer wall. The abundance of anemones and nutrient-rich water attract incredible
          amounts of tropical fish to Anemone Reef.
        </p>

        <a href="about.html" class="destinations__link destinations__link--read-more">
          READ MORE
        </a>
      </div>

      <div class="destinations__img">
        <img src="../assets/images/sections/destinations/anemone_reef.png" alt="Anemone Reef photo" width="600"/>
      </div>
    </div>

    <!-- King Cruiser -->
    <div class="destinations__item destinations__item--king-cruiser">
      <div class="destinations__img">
        <img src="../assets/images/sections/destinations/king_cruiser.png" alt="King Cruiser wreck photo" width="600"/>
      </div>

      <div class="destinations__content">
        <h2 class="destinations__subtitle">King Cruiser</h2>
        <p class="destinations__text">
          King Cruiser is a large car ferry that sank in 1997 after colliding with the underwater part of Anemone Reef.
          It has become an artificial coral reef. Only certified divers can dive here. Ideal for fans of wreck diving
          and underwater mysteries.
        </p>

        <a href="about.html" class="destinations__link destinations__link--read-more">
          READ MORE
        </a>
      </div>

      <div class="destinations__actions">
        <a href="packages.html" class="destinations__link destinations__link--packages">
          DIVE MORE WITH PACKAGES
        </a>
      </div>
    </div>
  </div>
</section>
