<!-- 08__Awards (Zarvanskyi Yaroslav) -->
<section class="awards">
  <div class="container">
    <div class="awards__icon">
      <img
        src="./assets/ui/icons/diver-icon.svg"
        width="64"
        height="64"
        alt="Scuba diver icon representing underwater exploration"
      />
    </div>

    <h2 class="awards__title">Awards</h2>
	<div class="awards__main">
            <!-- Award 1 -->
            <article class="awards-card">
            <div class="awards-card__image-wrapper">
                <img
                class="awards-card__image"
                src="./assets/images/sections/awards/award1.webp"
                alt="Fraincis Award 1"
                />
			</div>
	</div>
</section>