<!-- 08__Awards (Zarvanskyi Yaroslav) -->
<section class="awards">
  <div class="container">
    <div class="awards__icon">
      <img
        src="./assets/ui/icons/diver-icon.svg"
        width="64"
        height="64"
        alt="Scuba diver icon"
      />
    </div>

    <h2 class="awards__title">Awards</h2>

    <div class="awards__main">
      <article class="awards-card">
        <div class="awards-card__image-wrapper">
          <img class="awards-card__image" src="./assets/images/sections/awards/award1.webp" alt="Fraincis Award" />
        </div>
      </article>

      <article class="awards-card">
        <div class="awards-card__image-wrapper">
          <img class="awards-card__image" src="./assets/images/sections/awards/award2.webp" alt="Stanford Award" />
        </div>
      </article>

      <article class="awards-card">
        <div class="awards-card__image-wrapper">
          <img class="awards-card__image" src="./assets/images/sections/awards/award3.webp" alt="Cliffview Award" />
        </div>
      </article>

      <article class="awards-card">
        <div class="awards-card__image-wrapper">
          <img class="awards-card__image" src="./assets/images/sections/awards/award4.webp" alt="Jefferson Award" />
        </div>
      </article>
    </div>
  </div>
</section>