<section class="contacts_form">
  <div class="contacts_content">
    <img
      src="../assets/ui/icons/diver-icon.svg"
      alt="logo"
      class="contacts_content-img"
    />
    <h2 class="contacts_content--title">Contacts</h2>
    <p class="contacts_content--text">
      We recommend booking diving tours and courses in advance. Feel free to
      contact us for any personal inquiries:
    </p>
    <div class="contacts_content--inform">
      <p class="contacts_content--title">Address</p>
      <p class="contacts_content--desk">
        6/86 Moo 8, T. Vichit, A. Muang, Phuket, Thailand, 83000
      </p>
    </div>
    <div class="contacts_content--inform">
      <p class="contacts_content--title">Hours</p>
      <p class="contacts_content--desk">
        Monday - Saturday: 11 AM - 9 PM
        Sunday: 11 AM -11 PM
      </p>
    </div>
    <div class="contacts_content--inform">
      <p class="contacts_content--title">Contacts</p>
      <p class="contacts_content--desk">
        <a href = "tel:+12345678900">+1 (234) 567 89 00</a>
        thaidiving@email.com
      </p>
    </div>
  </div>
  <div class="contacts_form--section">
    <form action="#" class="contacts_form--form">
        <input type="text" class="contacts_form--input">
        <input type="tel" class="contacts_form--input">
        <input type="email" class="contacts_form--input">
    </form>
  </div>
</section>
