<section class="caves container">
  <img
    alt="caves"
    class="caves__image"
    src="./assets/images/sections/packages-caves/caves-image.webp"
  />
  <img
    src="./assets/ui/icons/diver-icon.svg"
    alt="diver icon"
    class="caves__header-icon"
  />
  <h2 class="caves__header-title">3 Caves - 3 Days</h2>
  <div class="caves__content">
    <p class="caves__content-text">
      The islands of Pi-Phi are like a small archipelago. The entire coastal
      strip of this province, along with countless islands along it, is
      limestone, which means karst. Nobody knows how many caves are located
      there, the rocks adjoin the sea and go into it, hundreds of islands along
      the coast are the tops of these rocks, and this whole mountainous country
      is penetrated by caves, both in the sea and on the coast.<br />
      <b>The package includes:</b>
      transfer from the hotel and back, snacks, drinks and fruits on the ship,
      12 liter air tanks and cargo belts, all necessary equipment.
    </p>
    <ul class="caves__list">
      <li>Duration: 3 Days</li>
      <li>
        Prices starting from: <br />250.00 USD (Adult)<br />
        180.00 USD (Child)
      </li>
      <li>Minimum Age: 15 years old</li>
    </ul>
  </div>
</section>
