<section class="night-dives container">
  <img
    src="../assets/images/sections/packages-night-dives/night-dives-image.jfif"
    alt="night dives"
    class="night-dives__image"
  />
  <img
    src="../assets/ui/icons/diver-icon.svg"
    alt="diver icon"
    class="night-dives__header-icon"
  />
  <h2 class="night-dives__header-title">Night Dives</h2>
  <div class="night-dives__content">
    <p class="night-dives__content-text">
      Night diving is something you should try. The underwater world is
      spectacular at night! Diving under water at night differs from day
      programs not only by the illumination, but also by various marine life.
      All daytime fish freeze in a dream near the reefs or at the bottom, and
      predators go on a night hunt.<br /><b>The package includes:</b> transfer
      from the hotel and back, snacks, drinks and fruits on the ship, 12 liter
      air tanks and cargo belts, all necessary equipment.
    </p>
    <ul class="night-dives__list">
      <li>Duration: 6 Hours</li>
      <li>
        Prices starting from: <br />150.00 USD (Adult)<br />
        120.00 USD (Child)
      </li>
      <li>Minimum Age: 10 years old</li>
    </ul>
  </div>
</section>
