<section class="days-dives container">
  <img
    src="./assets/ui/icons/diver-icon.svg"
    alt="diver icon"
    class="days-dives__header-icon"
  />
  <h2 class="days-dives__header-title">3 Days - 9 Dives</h2>
  <div class="days-dives__content">
    <p class="days-dives__content-text">
      Make the most of your diving experience in Phuket. We will go diving 3
      times a day, 3 days in a row, in different nearby places. Almost all
      diving sites in Phuket are suitable for divers of any level. Even if you
      are just a beginner, in 3 days, you will feel much more confident in the
      water.<br />
      <b> The package includes: </b>breakfast and lunch on the ship, fruits,
      soft drinks, 3 NITROX air tanks, English speaking instructor.
    </p>
    <ul class="days-dives__list">
      <li>Duration: 3 Days</li>
      <li>
        Prices starting from: <br />300.00 USD (Adult)<br />
        250.00 USD (Child)
      </li>
      <li>Minimum Age: 10 years old</li>
    </ul>
  </div>
</section>
