<section class="Certificates container">
    
    <div class="Certificat-top">
        <img src="assets/images/favicon.png" alt="Scuba Icon" class="top-icon">
        <h1>Scuba Diving Course</h1>
        <p>If you have already tried scuba diving, and you liked it, and you want to know more, be more independent <br>under the water and dive in the places for certified divers, then the Open Water Diver diving course in Phuket <br>is where you need to start. The course is divided into several parts: theory, practice, and of course, diving itself.<br>It's simple: you go through all these parts of training in parallel: theory and practice in the pool or shallow water, <br>and then real dives in the sea. During the training, you will learn everything that a diver should know: how the <br>equipment works and how to use it and take care of it; where and when you can dive and how to plan your dives, <br>how to swim under the water. You will learn so much that every day will bring you more and more vivid impressions!</p>
    </div>

    <div class="Certificat-middle">
        
        <div class="logo-center">
            <img src="assets/images/favicon.png" alt="Certificates Icon" class="center-icon">
            <h2>Certificates</h2>
        </div>

        <ul class="certificates-list-desktop">
            <li><img src="assets/images/sections/сertificates/certik1.png" alt="Certificate 1" class="cert-img"></li>
            <li><img src="assets/images/sections/сertificates/certik2.png" alt="Certificate 2" class="cert-img"></li>
            <li><img src="assets/images/sections/сertificates/certik3.png" alt="Certificate 3" class="cert-img"></li>
            <li><img src="assets/images/sections/сertificates/certik4.png" alt="Certificate 4" class="cert-img"></li>
        </ul>

<div id="certificatesCarousel" class="carousel slide certificates-carousel-mobile" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/sections/сertificates/certik1.png" class="d-block" alt="Certificate 1">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/sections/сertificates/certik2.png" class="d-block" alt="Certificate 2">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/sections/сertificates/certik3.png" class="d-block" alt="Certificate 3">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/sections/сertificates/certik4.png" class="d-block" alt="Certificate 4">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#certificatesCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#certificatesCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <img src="assets/images/sections/сertificates/grabdeep.webp" alt="Diver Underwater" class="big-middle-pic">
        
    </div>
</section>